# Contents
[Clean legacy users from SQL database](#cleaning-data-from-the-sql-database-from-aws)  
[Clean card details from S3 bucket PDF data](#data-cleaning-of-card-details-from-the-s3-bucket)  
[Code to GET API data](#checking-code-to-get-api-data)  
[Clean store details fromAPI data](#reviewing-and-cleaning-the-api-data)  
[Clean product data from S3 bucket CSV data](#extracting-s3-object-using-boto3)  
[Clean order tables from AWS RDS](#tidy-order-table)  
[Cleaning sales date from AWS S3](#extracting-sales_date-from-s3)

### Cleaning data from the SQL database from AWS

In [1]:
import yaml
from sqlalchemy import create_engine
import pandas as pd

with open('db_creds.yaml','r') as file:
            credentials = yaml.safe_load(file)

DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
HOST = credentials['RDS_HOST']
USER = credentials['RDS_USER']
PASSWORD = credentials['RDS_PASSWORD']
DATABASE = credentials['RDS_DATABASE']
PORT = credentials['RDS_PORT']
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}")

with engine.connect() as conn:
    db_table = pd.read_sql_table('legacy_users', conn, chunksize= None)

In [75]:
db_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB

In [76]:
db_table.loc[db_table['user_uuid'] == '9476f17e-5d6a-4117-874d-9cdb38ca1fa6']

Empty DataFrame
Columns: [index, first_name, last_name, date_of_birth, company, email_address, address, country, country_code, phone_number, join_date, user_uuid]
Index: []

In [4]:
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
import pandas as pd
import numpy as np

db = DatabaseConnector()
table = DataExtractor()

In [5]:
df = table.read_rds_table(db, 'legacy_users')
df = df.drop('index',axis=1)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15320 non-null  object
 1   last_name      15320 non-null  object
 2   date_of_birth  15320 non-null  object
 3   company        15320 non-null  object
 4   email_address  15320 non-null  object
 5   address        15320 non-null  object
 6   country        15320 non-null  object
 7   country_code   15320 non-null  object
 8   phone_number   15320 non-null  object
 9   join_date      15320 non-null  object
 10  user_uuid      15320 non-null  object
dtypes: object(11)
memory usage: 1.3+ MB

In [10]:
import pandas as pd
df.to_csv("review2.csv")

In [66]:
df.head()

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [67]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15320 non-null  object
 1   last_name      15320 non-null  object
 2   date_of_birth  15320 non-null  object
 3   company        15320 non-null  object
 4   email_address  15320 non-null  object
 5   address        15320 non-null  object
 6   country        15320 non-null  object
 7   country_code   15320 non-null  object
 8   phone_number   15320 non-null  object
 9   join_date      15320 non-null  object
 10  user_uuid      15320 non-null  object
dtypes: object(11)
memory usage: 1.3+ MB
None

In [11]:
df.loc[df['user_uuid'] == '0423a395-a04d-4e4a-bd0f-d237cbd5a295']

Empty DataFrame
Columns: [first_name, last_name, date_of_birth, company, email_address, address, country, country_code, phone_number, join_date, user_uuid]
Index: []

In [9]:
target_string = '0423'
matched_rows = df[df['user_uuid'].str.contains(target_string)]
print(matched_rows)

      first_name last_name date_of_birth                      company  \
9023      Teresa    Little    2005-10-04  Watson, Carter and Thompson
14145    Anthony     Ahmed    1948-04-07               Richardson LLC

                   email_address                               address  \
9023   lawrencechan@mccarthy.com   7 Sandra field\nPaigefurt\nNP4P 6JP
14145     opowell@gill-smith.com  65 Hughes curve\nWest Terry\nCW5 2DF

              country country_code     phone_number   join_date  \
9023   United Kingdom           GB  (0115) 496 0307  2022-11-08
14145  United Kingdom           GB     +44292018682  2009-04-09

                                  user_uuid
9023   5ab6d2f3-710c-439c-aac7-e07309804239
14145  f6f8e03d-ebbd-44b1-adf2-30cd830423f1

In [68]:
# First process the the date columns 
# Converting any date columns into the date format
import pandas as pd
from dateutil.parser import parse
for col in df.columns:  
    if 'date' in col:
        def try_parsing_date(text):
            try:
                return parse(text)
            except Exception:
                return pd.NaT
        
        df[col] = df[col].apply(try_parsing_date)
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [69]:
from datetime import datetime
# Calculate the current date
current_date = datetime.now()
# Subset the data to show individuals older than 70 years
subset_older_than_70 = df[current_date.year - df['date_of_birth'].dt.year > 80]
print(subset_older_than_70)

      first_name last_name date_of_birth                      company  \
1            Guy     Allen    1940-12-01                      Fox Ltd
21          Jörg  Hoffmann    1940-11-04                        Höfig
66        Olivia  Williams    1940-10-23  Sanderson, Singh and Wilson
77      Klaus-D.      Gute    1942-06-21        Conradi GmbH & Co. KG
84       Dominic    Potter    1940-01-19                 Powell-Carey
...          ...       ...           ...                          ...
15274       Joan      Reed    1942-10-24                    Frost PLC
15289    Stephen     Davis    1940-08-30    Graham, Fisher and Gibson
15292    Stephen      Ward    1940-07-22                  Smith-Brown
15308    Stephen    Hudson    1940-09-13                   Harris PLC
15317    Stephen  Losekann    1940-10-09                      Rosenow

                        email_address  \
1        rhodesclifford@henderson.com
21             zgehringer@beckmann.de
66         wilkinsjoseph@thomas.co.uk
77                  lutzsalz@mude.org
84     conor11@donnelly-middleton.biz
...                               ...
15274         katiesharpe@briggs.info
15289               s.davis@smith.com
15292                s.ward@smith.com
15308              s.hudson@smith.com
15317            s.losekann@smith.com

                                                 address         country  \
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
21        Marliese-Holzapfel-Gasse 767\n09198 Gardelegen         Germany
66     Studio 76E\nWilliams mountains\nEast Lyndaton\...  United Kingdom
77                              Wiekstr. 5\n29933 Apolda         Germany
84           719 Geoffrey gateway\nWest Hollie\nBN6V 5FF  United Kingdom
...                                                  ...             ...
15274    Studio 7\nHollie walks\nSouth Ryanberg\nM0C 6BG  United Kingdom
15289             758 Ellis Creek\nPort George, MP 93335   United States
15292             63 Jeffrey ridge\nCarolefort\nBL19 0JA  United Kingdom
15308      Studio 5\nDodd turnpike\nRobertston\nHS26 3ZG  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany

      country_code         phone_number  join_date  \
1               GB      (0161) 496 0674 2001-12-20
21              DE  +49 (0) 9914 457670 2006-02-04
66              GB        +441134960697 1997-06-13
77              DE    +49(0)0131 112091 2019-10-30
84              GB         +44292018370 2003-07-09
...            ...                  ...        ...
15274           GB     +44(0)1144960941 2011-01-25
15289           US  +1-946-020-6951x300 2021-10-27
15292           GB    +44(0)808 1570093 2016-05-16
15308           GB        0121 496 0182 1999-11-15
15317           DE          02984 08192 2021-03-07

                                  user_uuid
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
21     fbf6ce18-7838-40fc-9cf9-5c90e26b5b65
66     97d45030-5c09-4a38-afee-46825e865943
77     89ddaf29-629f-411f-a480-d70eab281efc
84     6fca961b-aae0-4d95-9eb9-c31494b05f2e
...                                     ...
15274  1c59bf6a-c725-4fc7-bd59-18f71ec7dcab
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b
15292  d7e8a2d7-5e66-4b22-a3ef-8a69fb5d036b
15308  d759d181-9b82-4062-88f1-6018a08afd11
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651

[1005 rows x 11 columns]

In [70]:
#Removing NA rows of data
#Further inspection show all NA rows in date_of_birth include non-null rows but are randomised.
nat_indexes = df.index[df['date_of_birth'].isna()].tolist()
print(nat_indexes)
na_list = df.iloc[nat_indexes]
print(na_list)

[752, 866, 1022, 1046, 1805, 2103, 2437, 2739, 2764, 2995, 3536, 4984, 5306, 5307, 6420, 6920, 7737, 8386, 9013, 10013, 10211, 10224, 10360, 10988, 11366, 11443, 11598, 11761, 11864, 12092, 12177, 12584, 13111, 13855, 14101, 14499]
       first_name   last_name date_of_birth     company email_address  \
752    PYCLKLLC7I  W350SCUD6R           NaT  R7IZUNSQX0    3Q791B3VIY
866          NULL        NULL           NaT        NULL          NULL
1022         NULL        NULL           NaT        NULL          NULL
1046   GI4C78KWH0  UTB5PPYFG8           NaT  CA1XGS8GZW    7HSZB429UK
1805         NULL        NULL           NaT        NULL          NULL
2103         NULL        NULL           NaT        NULL          NULL
2437         NULL        NULL           NaT        NULL          NULL
2739         NULL        NULL           NaT        NULL          NULL
2764         NULL        NULL           NaT        NULL          NULL
2995   DPAJNJL6PR  B8ZGN8ZJ84           NaT  0YJ2FRMDB4    O5Q6D7FDAF
3536   E5139W1FJ3  X88YLZX0JX           NaT  648S19YUFF    BYU3R2LQF8
4984         NULL        NULL           NaT        NULL          NULL
5306   XKDVQD7BH2  4YSEX8AY1Z           NaT  GKJZ58DTHT    789HWCYC7M
5307         NULL        NULL           NaT        NULL          NULL
6420   EI10BU4INS  SH6Y92V6IK           NaT  LNFBRXXUT4    TFEA83AAHP
6920         NULL        NULL           NaT        NULL          NULL
7737         NULL        NULL           NaT        NULL          NULL
8386   I7IJDAPMIM  LUNRZWUKRB           NaT  JXKOHA5B8F    JK2J6N4DLG
9013   TG6PAO2RAB  PIG6VAZUPM           NaT  ROL0IMK6UH    EIV7XWUJ8I
10013        NULL        NULL           NaT        NULL          NULL
10211  VCQL3ML6ZT  HULT86HONJ           NaT  QSS0MWBGFZ    1WNILGM5MK
10224        NULL        NULL           NaT        NULL          NULL
10360  G1SI2RM0KA  67VJEE6DS2           NaT  M4Z6M30SJ3    U1AZKY6URZ
10988        NULL        NULL           NaT        NULL          NULL
11366  31XQ1Z35J9  8LR57D7RZ0           NaT  66V9WU2HU1    XASHXWHN80
11443        NULL        NULL           NaT        NULL          NULL
11598        NULL        NULL           NaT        NULL          NULL
11761        NULL        NULL           NaT        NULL          NULL
11864        NULL        NULL           NaT        NULL          NULL
12092        NULL        NULL           NaT        NULL          NULL
12177  2GU3G97VI1  91RL47Q2WC           NaT  D4KULDKYME    YM2YGPR8W1
12584        NULL        NULL           NaT        NULL          NULL
13111  F3LGJ1NZ0I  IXWSZZ2VPN           NaT  9WSM9X17XK    M5ZDMLPP45
13855        NULL        NULL           NaT        NULL          NULL
14101  DD0K0FUDRY  Q9U9JNG44F           NaT  DJXWS4B52O    X29OBIYMTI
14499  YWM71XYN17  PYC56FDP4V           NaT  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number join_date   user_uuid
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I       NaT  W43MSCMQ88
866          NULL        NULL         NULL         NULL       NaT        NULL
1022         NULL        NULL         NULL         NULL       NaT        NULL
1046   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO       NaT  BUE34OU973
1805         NULL        NULL         NULL         NULL       NaT        NULL
2103         NULL        NULL         NULL         NULL       NaT        NULL
2437         NULL        NULL         NULL         NULL       NaT        NULL
2739         NULL        NULL         NULL         NULL       NaT        NULL
2764         NULL        NULL         NULL         NULL       NaT        NULL
2995   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E       NaT  56URKLG01W
3536   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A       NaT  A1W2TVMK1S
4984         NULL        NULL         NULL         NULL       NaT        NULL
5306   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY       NaT  LNRNI6X6VL
5307         NULL        NULL         NULL         NULL       NaT        NULL
6420   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL       NaT  23WTQ63AET
6920         NULL        NULL         NULL         NULL       NaT        NULL
7737         NULL        NULL         NULL         NULL       NaT        NULL
8386   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3       NaT  8FB8XB78NQ
9013   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2       NaT  HEGG0N3ICG
10013        NULL        NULL         NULL         NULL       NaT        NULL
10211  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA       NaT  AKXDQ62K1V
10224        NULL        NULL         NULL         NULL       NaT        NULL
10360  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP       NaT  7JTCX4UVLK
10988        NULL        NULL         NULL         NULL       NaT        NULL
11366  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK       NaT  C7N3K5VF9U
11443        NULL        NULL         NULL         NULL       NaT        NULL
11598        NULL        NULL         NULL         NULL       NaT        NULL
11761        NULL        NULL         NULL         NULL       NaT        NULL
11864        NULL        NULL         NULL         NULL       NaT        NULL
12092        NULL        NULL         NULL         NULL       NaT        NULL
12177  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU       NaT  YIBFXQLD4A
12584        NULL        NULL         NULL         NULL       NaT        NULL
13111  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE       NaT  55II6WK8D2
13855        NULL        NULL         NULL         NULL       NaT        NULL
14101  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6       NaT  1YOGCW4V46
14499  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH       NaT  7PYPXC0PPN

In [71]:
# Double checking if the parse and to_datetime function worked on dates that had string e.g. October 
# Anti join show na_list removes the randomised and unparsable dates and leaves the good ones in
result = df[df['date_of_birth'].astype(str).str.contains('[A-Za-z]', regex=True, na=False)]
anti_join_df = result.merge(na_list, left_index=True, right_index=True, how='left', indicator=True)
anti_join_result = anti_join_df[anti_join_df['_merge'] == 'left_only']
print(result)
print(anti_join_result)

       first_name   last_name date_of_birth     company email_address  \
752    PYCLKLLC7I  W350SCUD6R           NaT  R7IZUNSQX0    3Q791B3VIY
866          NULL        NULL           NaT        NULL          NULL
1022         NULL        NULL           NaT        NULL          NULL
1046   GI4C78KWH0  UTB5PPYFG8           NaT  CA1XGS8GZW    7HSZB429UK
1805         NULL        NULL           NaT        NULL          NULL
2103         NULL        NULL           NaT        NULL          NULL
2437         NULL        NULL           NaT        NULL          NULL
2739         NULL        NULL           NaT        NULL          NULL
2764         NULL        NULL           NaT        NULL          NULL
2995   DPAJNJL6PR  B8ZGN8ZJ84           NaT  0YJ2FRMDB4    O5Q6D7FDAF
3536   E5139W1FJ3  X88YLZX0JX           NaT  648S19YUFF    BYU3R2LQF8
4984         NULL        NULL           NaT        NULL          NULL
5306   XKDVQD7BH2  4YSEX8AY1Z           NaT  GKJZ58DTHT    789HWCYC7M
5307         NULL        NULL           NaT        NULL          NULL
6420   EI10BU4INS  SH6Y92V6IK           NaT  LNFBRXXUT4    TFEA83AAHP
6920         NULL        NULL           NaT        NULL          NULL
7737         NULL        NULL           NaT        NULL          NULL
8386   I7IJDAPMIM  LUNRZWUKRB           NaT  JXKOHA5B8F    JK2J6N4DLG
9013   TG6PAO2RAB  PIG6VAZUPM           NaT  ROL0IMK6UH    EIV7XWUJ8I
10013        NULL        NULL           NaT        NULL          NULL
10211  VCQL3ML6ZT  HULT86HONJ           NaT  QSS0MWBGFZ    1WNILGM5MK
10224        NULL        NULL           NaT        NULL          NULL
10360  G1SI2RM0KA  67VJEE6DS2           NaT  M4Z6M30SJ3    U1AZKY6URZ
10988        NULL        NULL           NaT        NULL          NULL
11366  31XQ1Z35J9  8LR57D7RZ0           NaT  66V9WU2HU1    XASHXWHN80
11443        NULL        NULL           NaT        NULL          NULL
11598        NULL        NULL           NaT        NULL          NULL
11761        NULL        NULL           NaT        NULL          NULL
11864        NULL        NULL           NaT        NULL          NULL
12092        NULL        NULL           NaT        NULL          NULL
12177  2GU3G97VI1  91RL47Q2WC           NaT  D4KULDKYME    YM2YGPR8W1
12584        NULL        NULL           NaT        NULL          NULL
13111  F3LGJ1NZ0I  IXWSZZ2VPN           NaT  9WSM9X17XK    M5ZDMLPP45
13855        NULL        NULL           NaT        NULL          NULL
14101  DD0K0FUDRY  Q9U9JNG44F           NaT  DJXWS4B52O    X29OBIYMTI
14499  YWM71XYN17  PYC56FDP4V           NaT  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number join_date   user_uuid
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I       NaT  W43MSCMQ88
866          NULL        NULL         NULL         NULL       NaT        NULL
1022         NULL        NULL         NULL         NULL       NaT        NULL
1046   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO       NaT  BUE34OU973
1805         NULL        NULL         NULL         NULL       NaT        NULL
2103         NULL        NULL         NULL         NULL       NaT        NULL
2437         NULL        NULL         NULL         NULL       NaT        NULL
2739         NULL        NULL         NULL         NULL       NaT        NULL
2764         NULL        NULL         NULL         NULL       NaT        NULL
2995   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E       NaT  56URKLG01W
3536   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A       NaT  A1W2TVMK1S
4984         NULL        NULL         NULL         NULL       NaT        NULL
5306   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY       NaT  LNRNI6X6VL
5307         NULL        NULL         NULL         NULL       NaT        NULL
6420   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL       NaT  23WTQ63AET
6920         NULL        NULL         NULL         NULL       NaT        NULL
7737         NULL        NULL         NULL         NULL       NaT        NULL
8386   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3       NaT  8FB8XB78NQ
9013   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2       NaT  HEGG0N3ICG
10013        NULL        NULL         NULL         NULL       NaT        NULL
10211  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA       NaT  AKXDQ62K1V
10224        NULL        NULL         NULL         NULL       NaT        NULL
10360  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP       NaT  7JTCX4UVLK
10988        NULL        NULL         NULL         NULL       NaT        NULL
11366  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK       NaT  C7N3K5VF9U
11443        NULL        NULL         NULL         NULL       NaT        NULL
11598        NULL        NULL         NULL         NULL       NaT        NULL
11761        NULL        NULL         NULL         NULL       NaT        NULL
11864        NULL        NULL         NULL         NULL       NaT        NULL
12092        NULL        NULL         NULL         NULL       NaT        NULL
12177  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU       NaT  YIBFXQLD4A
12584        NULL        NULL         NULL         NULL       NaT        NULL
13111  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE       NaT  55II6WK8D2
13855        NULL        NULL         NULL         NULL       NaT        NULL
14101  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6       NaT  1YOGCW4V46
14499  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH       NaT  7PYPXC0PPN
Empty DataFrame
Columns: [first_name_x, last_name_x, date_of_birth_x, company_x, email_address_x, address_x, country_x, country_code_x, phone_number_x, join_date_x, user_uuid_x, first_name_y, last_name_y, date_of_birth_y, company_y, email_address_y, address_y, country_y, country_code_y, phone_number_y, join_date_y, user_uuid_y, _merge]
Index: []

[0 rows x 23 columns]

In [72]:
# So to conclude, all nulls in date of birth removed, this also removes randomised records of data
df = df.drop(nat_indexes)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   15284 non-null  object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.4+ MB

In [74]:
# This shows no NA values are left. Following scripts would be to look for and handle incorrect data
na_counts = df.isna().sum()
print(na_counts)

first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

In [75]:
# Next fix the phone numbers
# The below processing of US, UK and Germany has been combined into this single cell
us_indexes = df[df['country'] == "United States"].index
other_indexes = df[df['country'] != "United States"].index

df.loc[us_indexes, 'phone_number'] = df.loc[us_indexes, 'phone_number'].str.replace(r'(\+\d{1}|x\d+|001-|[\.\-\(\)])', '', regex=True)
df.loc[us_indexes, 'phone_number'] = df.loc[us_indexes, 'phone_number'].apply(lambda x: np.nan if len(str(x)) != 11 else x)

df.loc[other_indexes, 'phone_number'] = df.loc[other_indexes, 'phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]', '', regex=True)
df.loc[other_indexes, 'phone_number'] = df.loc[other_indexes, 'phone_number'].apply(lambda x: np.nan if len(str(x)) != 11 else x)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   9089 non-null   object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.9+ MB

In [77]:
#Review country_code
df['country_code'].value_counts()

country_code
GB     9365
DE     4708
US     1205
GGB       6
Name: count, dtype: int64

In [78]:
df.loc[df['country_code'] == "GGB", 'country_code'] = "GB"

In [79]:
# Next country - all good
df['country'].value_counts()

country
United Kingdom    9371
Germany           4708
United States     1205
Name: count, dtype: int64

In [80]:
# assumption that the address column is correct, could separate postcode and cross-reference on google maps
print(df['address'][0])

Zimmerstr. 1/0
59015 Gießen

In [81]:
# Remove the new line and replace with comma
df['address'] = df['address'].str.replace('\n', ',')
print(df['address'])

0                             Zimmerstr. 1/0,59015 Gießen
1          Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH
2                        92 Ann drive,Joanborough,SK0 6LR
3                    19 Robinson meadow,New Tracy,W22 2QG
4                     3 White pass,Hunterborough,NN96 4UE
                               ...
15315         Studio 41I,Jones lodge,Oliviaborough,E8 3DU
15316                 530 Young parkway,Millsfurt,L4G 7NX
15317    Viviane-Fritsch-Straße 3/5,15064 Bad Liebenwerda
15318     660 Ross Falls Suite 357,Anthonymouth, MA 09610
15319         Studio 4,Hancock road,Phillipsview,ST1X 3XB
Name: address, Length: 15284, dtype: object

In [82]:
#All email addresses follow a consistent pattern
df['email_address'].str.contains('@.*\.', regex=True).value_counts()

email_address
True    15284
Name: count, dtype: int64

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   9089 non-null   object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.9+ MB

In [84]:

print(df['first_name'].str.contains(r'\d', regex=True).value_counts())
print(df['last_name'].str.contains(r'\d', regex=True).value_counts())
print(df['company'].str.contains(r'\d', regex=True).value_counts())

first_name
False    15284
Name: count, dtype: int64
last_name
False    15284
Name: count, dtype: int64
company
False    15284
Name: count, dtype: int64

In [85]:
df['first_name'].value_counts()

first_name
Michael       57
Amanda        52
Peter         51
Jennifer      50
Andrew        50
              ..
Kristopher     1
Guido          1
Darlene        1
Adem           1
Athanasios     1
Name: count, Length: 2162, dtype: int64

In [86]:
#Below was the analysis of numbers from different countries

In [87]:
# Next fix the phone numbers
df['country'].value_counts()

country
United Kingdom    9371
Germany           4708
United States     1205
Name: count, dtype: int64

In [88]:
#

In [89]:
#10 digits
us = df[df['country'] == 'United States']
print(us)
print(us.info())

      first_name last_name date_of_birth                        company  \
5          David    Torres    1949-08-12                   Yang-Stewart
9          Emily     Jones    1992-10-09                Serrano-Leblanc
16        Sierra   Spencer    1988-11-02       Watson, Davis and Cooper
27         Bryan   Nielsen    1979-07-29                    Drake-Clark
35       Melissa    Garcia    1946-06-30  Nelson, Williams and Martinez
...          ...       ...           ...                            ...
15275     George      Cook    1974-01-10                     Miller LLC
15289    Stephen     Davis    1940-08-30      Graham, Fisher and Gibson
15301    Stephen  Gonzales    2006-04-17                    Marquez Ltd
15311    Stephen  Alvarado    2006-07-27                  Wallace-Smith
15318    Stephen    Rivera    1952-06-04          Taylor, Fry and Jones

                       email_address  \
5              mwilliams@nichols.org
9                 toni24@carlson.com
16              justin43@arnold.info
27              julie41@jennings.com
35     alvarezstacy@green-stokes.com
...                              ...
15275          paulhall@johnston.biz
15289              s.davis@smith.com
15301           s.gonzales@smith.com
15311           s.alvarado@smith.com
15318             s.rivera@smith.com

                                                 address        country  \
5          49226 Edwards Mountains,North Sarah, DE 69608  United States
9      012 Andrea Circle Suite 129,Josephmouth, AS 22237  United States
16             05559 Vincent Parkway,Sarahstad, ND 91029  United States
27        0146 Mathis Extension,West Marymouth, WY 18605  United States
35                9288 Patrick Inlet,Jamesfort, CO 48309  United States
...                                                  ...            ...
15275    30109 Shawn Club Suite 503,West Emily, IL 35382  United States
15289              758 Ellis Creek,Port George, MP 93335  United States
15301  530 Mary Hills Suite 652,East Lauriemouth, MT ...  United States
15311          9197 Smith Island,Port Benjamin, ND 32656  United States
15318    660 Ross Falls Suite 357,Anthonymouth, MA 09610  United States

      country_code phone_number  join_date  \
5               US          NaN 2002-01-21
9               US          NaN 1998-05-15
16              US          NaN 2007-03-20
27              US          NaN 2001-09-23
35              US          NaN 2007-01-05
...            ...          ...        ...
15275           US          NaN 2022-02-21
15289           US          NaN 2021-10-27
15301           US          NaN 2011-08-13
15311           US          NaN 2000-07-01
15318           US          NaN 2011-01-03

                                  user_uuid
5      53d21f46-1fa4-452f-a023-26aee2aae4d6
9      caffe463-4918-4f45-a37d-856dc0f15884
16     7c8dc654-3994-40b1-a4a2-e55dc7081fe0
27     e4aae45c-d605-4457-860d-8a460a0a1d69
35     ee0c5f80-2a18-42df-ad88-e898de71dd50
...                                     ...
15275  e397eb0c-7007-4193-be95-76e55743bf89
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b
15301  68d5933d-8815-48f6-8bd1-7820ed73391a
15311  cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572

[1205 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 5 to 15318
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     1205 non-null   object
 1   last_name      1205 non-null   object
 2   date_of_birth  1205 non-null   datetime64[ns]
 3   company        1205 non-null   object
 4   email_address  1205 non-null   object
 5   address        1205 non-null   object
 6   country        1205 non-null   object
 7   country_code   1205 non-null   object
 8   phone_number   0 non-null      object
 9   join_date      1205 non-null   datetime64[ns]
 10  user_uuid      1205 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 113.0+ KB
None

In [90]:
# For the USA, typically follow XXX-XXX-XXXX pattern
us.loc[:,'phone_number'] = us['phone_number'].str.replace(r'(\+\d{1}|x\d+|001-|[\.\-\(\)])','',regex=True)
us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10
print(us['valid_phone'].value_counts())
print(us)

valid_phone
False    1205
Name: count, dtype: int64
      first_name last_name date_of_birth                        company  \
5          David    Torres    1949-08-12                   Yang-Stewart
9          Emily     Jones    1992-10-09                Serrano-Leblanc
16        Sierra   Spencer    1988-11-02       Watson, Davis and Cooper
27         Bryan   Nielsen    1979-07-29                    Drake-Clark
35       Melissa    Garcia    1946-06-30  Nelson, Williams and Martinez
...          ...       ...           ...                            ...
15275     George      Cook    1974-01-10                     Miller LLC
15289    Stephen     Davis    1940-08-30      Graham, Fisher and Gibson
15301    Stephen  Gonzales    2006-04-17                    Marquez Ltd
15311    Stephen  Alvarado    2006-07-27                  Wallace-Smith
15318    Stephen    Rivera    1952-06-04          Taylor, Fry and Jones

                       email_address  \
5              mwilliams@nichols.org
9                 toni24@carlson.com
16              justin43@arnold.info
27              julie41@jennings.com
35     alvarezstacy@green-stokes.com
...                              ...
15275          paulhall@johnston.biz
15289              s.davis@smith.com
15301           s.gonzales@smith.com
15311           s.alvarado@smith.com
15318             s.rivera@smith.com

                                                 address        country  \
5          49226 Edwards Mountains,North Sarah, DE 69608  United States
9      012 Andrea Circle Suite 129,Josephmouth, AS 22237  United States
16             05559 Vincent Parkway,Sarahstad, ND 91029  United States
27        0146 Mathis Extension,West Marymouth, WY 18605  United States
35                9288 Patrick Inlet,Jamesfort, CO 48309  United States
...                                                  ...            ...
15275    30109 Shawn Club Suite 503,West Emily, IL 35382  United States
15289              758 Ellis Creek,Port George, MP 93335  United States
15301  530 Mary Hills Suite 652,East Lauriemouth, MT ...  United States
15311          9197 Smith Island,Port Benjamin, ND 32656  United States
15318    660 Ross Falls Suite 357,Anthonymouth, MA 09610  United States

      country_code phone_number  join_date  \
5               US          NaN 2002-01-21
9               US          NaN 1998-05-15
16              US          NaN 2007-03-20
27              US          NaN 2001-09-23
35              US          NaN 2007-01-05
...            ...          ...        ...
15275           US          NaN 2022-02-21
15289           US          NaN 2021-10-27
15301           US          NaN 2011-08-13
15311           US          NaN 2000-07-01
15318           US          NaN 2011-01-03

                                  user_uuid  valid_phone
5      53d21f46-1fa4-452f-a023-26aee2aae4d6        False
9      caffe463-4918-4f45-a37d-856dc0f15884        False
16     7c8dc654-3994-40b1-a4a2-e55dc7081fe0        False
27     e4aae45c-d605-4457-860d-8a460a0a1d69        False
35     ee0c5f80-2a18-42df-ad88-e898de71dd50        False
...                                     ...          ...
15275  e397eb0c-7007-4193-be95-76e55743bf89        False
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b        False
15301  68d5933d-8815-48f6-8bd1-7820ed73391a        False
15311  cbfb7add-74d6-455f-926d-2fe6cc0d10c2        False
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572        False

[1205 rows x 12 columns]

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\3246566554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10

In [91]:
#Error check - ensure all numbers have exactly 10 digits
us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10
print(us['valid_phone'].value_counts())

valid_phone
False    1205
Name: count, dtype: int64

In [92]:
#Germany have 11 digits
germany = df[df['country'] == "Germany"]
print(germany.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4708 entries, 0 to 15317
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     4708 non-null   object
 1   last_name      4708 non-null   object
 2   date_of_birth  4708 non-null   datetime64[ns]
 3   company        4708 non-null   object
 4   email_address  4708 non-null   object
 5   address        4708 non-null   object
 6   country        4708 non-null   object
 7   country_code   4708 non-null   object
 8   phone_number   2615 non-null   object
 9   join_date      4708 non-null   datetime64[ns]
 10  user_uuid      4708 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 441.4+ KB
None

In [93]:
# Some german numbers are 10 digits. Replace with NaN
germany.loc[:,'phone_number'] = germany['phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]','', regex= True)

In [94]:
#Error check - ensure all numbers have exactly 10 digits
germany.loc[:,'valid_phone'] = germany['phone_number'].str.len() == 11
germany.loc[~germany['phone_number'].apply(lambda x: len(str(x)) == 11), 'phone_number'] = np.nan
print(germany['valid_phone'].value_counts())

valid_phone
True     2615
False    2093
Name: count, dtype: int64

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\787672041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany.loc[:,'valid_phone'] = germany['phone_number'].str.len() == 11

In [95]:
#Lastly the UK
uk = df[df['country'] == "United Kingdom"]
print(uk)

      first_name last_name date_of_birth                       company  \
1            Guy     Allen    1940-12-01                       Fox Ltd
2          Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3         Darren   Hussain    1972-09-23                   Wheeler LLC
4          Garry     Stone    1952-12-20                    Warner Inc
6           Anne    Morris    1952-11-10                Hutchinson Inc
...          ...       ...           ...                           ...
15313    Stephen    Barker    1981-05-01             Marshall-Campbell
15314    Stephen       Fox    1961-04-24             Williams-Phillips
15315    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316    Stephen     Smith    1948-08-20               Robinson-Harris
15319    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
6         nhudson@taylor-horton.com
...                             ...
15313            s.barker@smith.com
15314               s.fox@smith.com
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15319            s.duncan@smith.com

                                              address         country  \
1      Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH  United Kingdom
2                    92 Ann drive,Joanborough,SK0 6LR  United Kingdom
3                19 Robinson meadow,New Tracy,W22 2QG  United Kingdom
4                 3 White pass,Hunterborough,NN96 4UE  United Kingdom
6                    33 Shaun locks,Morganland,G8 9YP  United Kingdom
...                                               ...             ...
15313         857 Ross parkways,Mitchellville,CR3 0QQ  United Kingdom
15314     Flat 89,Hutchinson pines,Clarkeview,M7U 1DY  United Kingdom
15315     Studio 41I,Jones lodge,Oliviaborough,E8 3DU  United Kingdom
15316             530 Young parkway,Millsfurt,L4G 7NX  United Kingdom
15319     Studio 4,Hancock road,Phillipsview,ST1X 3XB  United Kingdom

      country_code phone_number  join_date  \
1               GB  01614960674 2001-12-20
2               GB  01214960340 2016-12-16
3               GB  03069990871 2004-02-23
4               GB  01214960225 2006-09-01
6               GB          NaN 2004-06-23
...            ...          ...        ...
15313           GB  01414960548 2014-10-09
15314           GB  01174960015 2007-10-25
15315           GB          NaN 2016-04-15
15316           GB  01144960977 2020-07-20
15319           GB  01314960870 2015-08-28

                                  user_uuid
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
6      e2066a2c-8cd3-46ad-b2ea-e2445d5d9335
...                                     ...
15313  b8540c97-2c5d-4b79-b955-c0fd998819e7
15314  0ad69cd5-ebda-4d22-b6d8-963424261ddf
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[9371 rows x 11 columns]

In [96]:
uk.loc[:,'phone_number'] = uk['phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]','', regex= True)
uk.loc[:,'valid_phone'] = uk['phone_number'].str.len() == 11
print(uk['valid_phone'].value_counts())

valid_phone
True     6474
False    2897
Name: count, dtype: int64

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\1538497412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk.loc[:,'valid_phone'] = uk['phone_number'].str.len() == 11

In [97]:
uk.loc[~uk['phone_number'].apply(lambda x: len(str(x)) == 11), 'phone_number'] = np.nan
print(uk)

      first_name last_name date_of_birth                       company  \
1            Guy     Allen    1940-12-01                       Fox Ltd
2          Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3         Darren   Hussain    1972-09-23                   Wheeler LLC
4          Garry     Stone    1952-12-20                    Warner Inc
6           Anne    Morris    1952-11-10                Hutchinson Inc
...          ...       ...           ...                           ...
15313    Stephen    Barker    1981-05-01             Marshall-Campbell
15314    Stephen       Fox    1961-04-24             Williams-Phillips
15315    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316    Stephen     Smith    1948-08-20               Robinson-Harris
15319    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
6         nhudson@taylor-horton.com
...                             ...
15313            s.barker@smith.com
15314               s.fox@smith.com
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15319            s.duncan@smith.com

                                              address         country  \
1      Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH  United Kingdom
2                    92 Ann drive,Joanborough,SK0 6LR  United Kingdom
3                19 Robinson meadow,New Tracy,W22 2QG  United Kingdom
4                 3 White pass,Hunterborough,NN96 4UE  United Kingdom
6                    33 Shaun locks,Morganland,G8 9YP  United Kingdom
...                                               ...             ...
15313         857 Ross parkways,Mitchellville,CR3 0QQ  United Kingdom
15314     Flat 89,Hutchinson pines,Clarkeview,M7U 1DY  United Kingdom
15315     Studio 41I,Jones lodge,Oliviaborough,E8 3DU  United Kingdom
15316             530 Young parkway,Millsfurt,L4G 7NX  United Kingdom
15319     Studio 4,Hancock road,Phillipsview,ST1X 3XB  United Kingdom

      country_code phone_number  join_date  \
1               GB  01614960674 2001-12-20
2               GB  01214960340 2016-12-16
3               GB  03069990871 2004-02-23
4               GB  01214960225 2006-09-01
6               GB          NaN 2004-06-23
...            ...          ...        ...
15313           GB  01414960548 2014-10-09
15314           GB  01174960015 2007-10-25
15315           GB          NaN 2016-04-15
15316           GB  01144960977 2020-07-20
15319           GB  01314960870 2015-08-28

                                  user_uuid  valid_phone
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49         True
2      fc461df4-b919-48b2-909e-55c95a03fe6b         True
3      6104719f-ef14-4b09-bf04-fb0c4620acb0         True
4      9523a6d3-b2dd-4670-a51a-36aebc89f579         True
6      e2066a2c-8cd3-46ad-b2ea-e2445d5d9335        False
...                                     ...          ...
15313  b8540c97-2c5d-4b79-b955-c0fd998819e7         True
15314  0ad69cd5-ebda-4d22-b6d8-963424261ddf         True
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302        False
15316  d234c04b-c07c-46a5-a902-526f91478ecc         True
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1         True

[9371 rows x 12 columns]

### Data cleaning of card details from the S3 bucket

In [4]:
import tabula

In [25]:
pdf = tabula.read_pdf('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf',stream = False, pages = 'all', guess = False, multiple_tables = True)

In [57]:
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

test = DataExtractor()
pdf = test.retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

# tidy_card = DataCleaning(pdf)
# tidied_card = tidy_card.remove_question_mark()
# print(tidied_card)

In [34]:
print(type(pdf['card_number'][0]))

<class 'int'>

In [58]:
pdf['card_number'] = pdf['card_number'].astype(str).str.replace('?', '')
print(pdf)

            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
...                 ...         ...                          ...
15304   180036921556789       12/28                 JCB 15 digit
15305   180018030448512       11/24                 JCB 15 digit
15306  3569953313547220       04/24                 JCB 16 digit
15307  4444521712606810       06/27                VISA 16 digit
15308   372031786522735       02/30             American Express

      date_payment_confirmed
0                 2015-11-25
1                 2001-06-18
2                 2000-12-26
3                 2011-02-12
4                 1997-03-13
...                      ...
15304             1997-06-06
15305             2004-06-16
15306             2020-02-05
15307             2008-06-16
15308             2009-02-04

[15309 rows x 4 columns]

In [40]:
pdf[pdf['card_number'] == '4971858637664481']

          card_number expiry_date  card_provider date_payment_confirmed
149  4971858637664481       04/24  VISA 16 digit             2016-11-17

In [60]:
tidy_card = DataCleaning(pdf)
clean = tidy_card.clean_card_provider()

In [62]:
clean[clean.duplicated(subset=['card_number'], keep=False)]

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [63]:
clean.isnull().sum()

card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

In [42]:
dup = pdf['card_number'].duplicated().any()
print(dup)

True

In [47]:
pdf.iloc[377]

card_number               NULL
expiry_date               NULL
card_provider             NULL
date_payment_confirmed    NULL
Name: 377, dtype: object

In [43]:
pdf[pdf.duplicated(subset=['card_number'], keep=False)]

      card_number expiry_date card_provider date_payment_confirmed
377          NULL        NULL          NULL                   NULL
847          NULL        NULL          NULL                   NULL
884          NULL        NULL          NULL                   NULL
2418         NULL        NULL          NULL                   NULL
2489         NULL        NULL          NULL                   NULL
2830         NULL        NULL          NULL                   NULL
4196         NULL        NULL          NULL                   NULL
5686         NULL        NULL          NULL                   NULL
6024         NULL        NULL          NULL                   NULL
12876        NULL        NULL          NULL                   NULL
13708        NULL        NULL          NULL                   NULL

In [55]:
str_null = pdf.loc[pdf['card_number'] == 'NULL'].index.tolist()
pdf.drop(str_null, axis = 0, inplace = True)

In [56]:
pdf.loc[pdf['card_number'] == 'NULL']

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [22]:
print(len(pdf))
print(type(pdf[1]))

279
<class 'pandas.core.frame.DataFrame'>

In [12]:
pdf[1] 4971858637664481

,card_number,expiry_date,card_provider,date_payment_confirmed
0,372498568017103,07/28,American Express,2009-10-28
1,4108484730579010,03/28,VISA 16 digit,1994-08-21
2,676293500408,08/24,Maestro,1993-10-26
3,581681339767,06/29,Maestro,1998-08-03
4,180083117707156,06/30,JCB 15 digit,2012-01-11
5,213185617039336,04/23,JCB 15 digit,2005-03-28
6,180038452399167,09/27,JCB 15 digit,1999-11-04
7,213148437331713,06/28,JCB 15 digit,2004-02-11
8,6011852840796870,12/29,Discover,2020-10-14
9,6011662146447830,09/32,Discover,2013-04-22
10,375909252165187,03/23,American Express,2005-10-07
11,30095105471035,07/31,Diners Club / Carte Blanche,2014-10-09
12,3584417008059140,05/27,JCB 16 digit,1993-05-09
13,2244978562790820,10/29,Mastercard,2007-02-12
14,4027528338006,04/28,VISA 13 digit,2013-05-30
15,30425667828100,05/26,Diners Club / Carte Blanche,2008-07-03
16,2244479907474760,04/32,Mastercard,1995-04-27
17,3570781166096810,04/23,JCB 16 digit,2000-12-27
18,2310820813218710,07/32,Mastercard,1994-07-23
19,4725463191106120000,05/30,VISA 19 digit,2021-07-17
20,4319742178425770,10/24,VISA 16 digit,1998-11-06
21,4466560959453,01/32,VISA 13 digit,1998-03-16
22,30180112075555,10/24,Diners Club / Carte Blanche,1998-02-06
23,3517948043479210,03/29,JCB 16 digit,2008-10-10
24,3575217498720440,11/26,JCB 16 digit,2013-09-10
25,4588947128070,02/28,VISA 13 digit,2003-10-27
26,6550095846760120,02/29,Discover,2013-10-19
27,36021639286396,08/25,Diners Club / Carte Blanche,2003-11-12
28,6506115570116190,02/31,Discover,2018-06-23
29,346534852323501,12/22,American Express,2017-12-28
30,4177601107944940000,08/25,VISA 19 digit,2010-07-28
31,4749402420184460,07/29,VISA 16 digit,2018-04-15
32,4838743717197410,07/25,VISA 16 digit,2016-11-17
33,3503307442630630,02/25,JCB 16 digit,1996-12-10
34,575350944766,03/28,Maestro,2021-06-11
35,4639809799549920,05/31,VISA 16 digit,2018-08-16
36,4005849178483,04/24,VISA 13 digit,2017-02-03
37,4764497710814640,05/25,VISA 16 digit,1999-05-03
38,3517287513574020,06/32,JCB 16 digit,1993-03-25
39,3507036246815300,05/32,JCB 16 digit,2003-12-03
40,347225500075101,04/28,American Express,2009-11-20
41,3504582964063800,07/24,JCB 16 digit,1996-06-22
42,6547615342880760,12/27,Discover,2009-03-05
43,4537616359009030000,09/31,VISA 19 digit,1994-10-19
44,2294060415437190,01/31,Mastercard,1995-10-15
45,3588368762770770,06/24,JCB 16 digit,2006-02-19
46,6524192031219120,01/29,Discover,2019-03-23
47,180041071434092,05/30,JCB 15 digit,2010-04-05
48,213159098807313,11/25,JCB 15 digit,2020-05-21
49,3511659845316830,12/28,JCB 16 digit,2004-09-23
50,30591165864887,10/27,Diners Club / Carte Blanche,1993-01-09
51,3566624359220790,03/26,JCB 16 digit,2015-01-28
52,4469615060239300000,03/31,VISA 19 digit,2006-09-18
53,374589179576988,04/31,American Express,2018-03-07
54,180080246803229,05/28,JCB 15 digit,2020-12-05

In [10]:
import pandas as pd
pdf2 = pd.concat(pdf, ignore_index = True)
print(pdf2.head(5))
print(type(pdf2))

        card_number expiry_date                card_provider  \
0    30060773296197       09/26  Diners Club / Carte Blanche
1   349624180933183       10/23             American Express
2  3529023891650490       06/23                 JCB 16 digit
3   213142929492281       09/27                 JCB 15 digit
4      502067329974       10/25                      Maestro

  date_payment_confirmed
0             2015-11-25
1             2001-06-18
2             2000-12-26
3             2011-02-12
4             1997-03-13
<class 'pandas.core.frame.DataFrame'>

In [17]:
'4971858637664481' in pdf2['card_number']

False

In [103]:
# Now in dataframe format
print(pdf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB
None

In [104]:
card_names = pdf2['card_provider'].value_counts()
get_card_names = card_names[card_names > 1000].index.tolist()
print(get_card_names)

['VISA 16 digit', 'JCB 16 digit', 'VISA 13 digit', 'JCB 15 digit', 'VISA 19 digit', 'Diners Club / Carte Blanche', 'American Express', 'Maestro', 'Discover', 'Mastercard']

In [105]:
#All the dodgy cards have dodgy data, so remove
checking_dodgy_cards = pdf2[~pdf2['card_provider'].isin(get_card_names)]
print(checking_dodgy_cards)
print(checking_dodgy_cards.info())

      card_number expiry_date card_provider date_payment_confirmed
377          NULL        NULL          NULL                   NULL
827    VAB9DSB8ZM  NWS3P2W38H    NB71VBAHJE             GTC9KBWJO9
847          NULL        NULL          NULL                   NULL
884          NULL        NULL          NULL                   NULL
1443   MOZOT5Q95V  8YJ3TYH6Z5    WJVMUO4QX6             DJIXF1AFAZ
2418         NULL        NULL          NULL                   NULL
2489         NULL        NULL          NULL                   NULL
2830         NULL        NULL          NULL                   NULL
3694   K0084A9R99  ACT9K6ECRJ    JRPRLPIBZ2             H2PCQP4W50
4196         NULL        NULL          NULL                   NULL
4208   Y8ITI33X30  WDWMN9TU45    TS8A81WFXV             XTD27ANR5Q
4916   RNSCD8OCIM  VNLNMWPJII    JCQMU8FN85             7VGB4DA1WI
5686         NULL        NULL          NULL                   NULL
6024         NULL        NULL          NULL                   NULL
6653   MIK9G2EMM0  4FI5GTUVYG    5CJH7ABGDR             RLQYRRYHPU
7332   I4PWLWSIRJ  RF1ACW165R    DE488ORDXY             T008RE1ZR6
7493   OMZSBN2XG3  6JJKS7R0WA    OGJTXI6X1H             7FL8EU9GBF
7818   NB8JJ05D7R  XRPE6C4GS9    1M38DYQTZV             GD9PHJXQR4
10457  G0EF4TS8C8  5VN8HOLMVE    DLWF2HANZF             WCK463ZO1Z
11345  Z8855EXTJX  Q7VGWP7LH9    XGZBYBYGUW             OE3KONN2V6
11465  JQTLQAAQTD  ZBGGFGY4H0    UA07L7EILH             T995FX2C7W
11499  T23BTBBJDD  UMR9FIE22M    BU9U947ZGV             EVVMMB3QYV
12876        NULL        NULL          NULL                   NULL
13708        NULL        NULL          NULL                   NULL
14884  LSWT9DT4G4  2ANT8LW3I5    5MFWFBZRM9             UZGSD0AEBT
<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 377 to 14884
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             25 non-null     object
 1   expiry_date             25 non-null     object
 2   card_provider           25 non-null     object
 3   date_payment_confirmed  25 non-null     object
dtypes: object(4)
memory usage: 1000.0+ bytes
None

In [106]:
# pdf3 symbolises the removal of nulls and dodgy data
pdf3 = pdf2[pdf2['card_provider'].isin(get_card_names)]
print(pdf3['card_provider'].value_counts())

card_provider
VISA 16 digit                  2426
JCB 16 digit                   2403
VISA 13 digit                  1382
JCB 15 digit                   1363
VISA 19 digit                  1349
Diners Club / Carte Blanche    1312
American Express               1297
Maestro                        1281
Discover                       1260
Mastercard                     1211
Name: count, dtype: int64

In [107]:
print(pdf3['expiry_date'])

0        09/26
1        10/23
2        06/23
3        09/27
4        10/25
         ...
15304    12/28
15305    11/24
15306    04/24
15307    06/27
15308    02/30
Name: expiry_date, Length: 15284, dtype: object

In [108]:
#pdf3['expiry_date'] = pdf3['expiry_date'].apply(parse)
#pdf3['expiry_date'] = pd.to_datetime(pdf3['expiry_date'], errors='coerce', format = '%m/%Y')
#na_index = pdf3.index[pdf3['date_of_birth'].isna()].tolist() 
pdf3['expiry_date'].head(20)

0     09/26
1     10/23
2     06/23
3     09/27
4     10/25
5     11/23
6     07/27
7     02/29
8     02/24
9     07/23
10    10/28
11    11/27
12    11/31
13    10/29
14    01/29
15    01/26
16    02/32
17    10/26
18    08/28
19    09/32
Name: expiry_date, dtype: object

In [109]:
def custom_parse(date_string):
    month,year = date_string.split('/')
    return parse('01'+'/'+ date_string, ignoretz = True)

In [110]:
pdf3['expiry_date'][1]

'10/23'

In [111]:
pdf3.loc[:,'expiry_date'] = pdf3['expiry_date'].apply(custom_parse)
pdf3.loc[:,'expiry_date'] = pd.to_datetime(pdf3['expiry_date'])

In [112]:
print(pdf3['expiry_date'].head(20))
print(pdf3['expiry_date'].isnull().sum())

0     2026-01-09 00:00:00
1     2023-01-10 00:00:00
2     2023-01-06 00:00:00
3     2027-01-09 00:00:00
4     2025-01-10 00:00:00
5     2023-01-11 00:00:00
6     2027-01-07 00:00:00
7     2029-01-02 00:00:00
8     2024-01-02 00:00:00
9     2023-01-07 00:00:00
10    2028-01-10 00:00:00
11    2027-01-11 00:00:00
12    2031-01-11 00:00:00
13    2029-01-10 00:00:00
14    2029-01-01 00:00:00
15    2026-01-01 00:00:00
16    2032-01-02 00:00:00
17    2026-01-10 00:00:00
18    2028-01-08 00:00:00
19    2032-01-09 00:00:00
Name: expiry_date, dtype: object
0

In [113]:
#No expiry dates our of the ordinary
expired = pdf3[pdf3['expiry_date'] > pd.to_datetime('2050-01-01')]
print(expired)

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [114]:
pdf3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [115]:
# date of payment looks good too
pdf3['date_payment_confirmed'].head(5)
pdf3.loc[:,'date_payment_confirmed'] = pdf3['date_payment_confirmed'].apply(parse)
pdf3['date_payment_confirmed'].isnull().sum()
pdf3[pdf3['date_payment_confirmed'] > pd.to_datetime("2022-12-01")]

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [116]:
# Card number
pdf3['card_number'].head(20)
print(type(pdf3['card_number'][1]))

<class 'int'>

In [117]:
def check_alpha(string):
    return str(string).isalpha()

In [118]:
#This didnt pick up some card numbers had '?' 
pdf3['card_number'].apply(check_alpha).value_counts()

card_number
False    15284
Name: count, dtype: int64

In [119]:
pdf3.loc[:,'card_number'] = str(pdf3['card_number'])
print(pdf3['card_provider'].value_counts())
# diners club = 14
# AMEX = 15
# Maestro = 12 to 19. 50, 56-69, 67
# Discover = 16
# Mastercard = 16

card_provider
VISA 16 digit                  2426
JCB 16 digit                   2403
VISA 13 digit                  1382
JCB 15 digit                   1363
VISA 19 digit                  1349
Diners Club / Carte Blanche    1312
American Express               1297
Maestro                        1281
Discover                       1260
Mastercard                     1211
Name: count, dtype: int64

In [120]:
def get_length(column):
    if 'Diners' in column:
        return 14
    elif 'American Express' in column:
        return 15
    elif 'Discover' in column:
        return 16
    elif 'Mastercard' in column:
        return 16
    elif 'JCB' in column or 'VISA' in column:
        return int(''.join(filter(str.isdigit, column)))
    elif 'Maestro' in column:
        return list(range(12,20))
    elif 'Diners Club / Carte Blanche' in column:
        return 14
    else:
        return None

In [121]:
pdf3.loc[:,'expected_num_dig'] = pdf3['card_provider'].apply(get_length)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\3089059518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3.loc[:,'expected_num_dig'] = pdf3['card_provider'].apply(get_length)

In [122]:
#Run this code if you encounter any errors 
#pdf3 = pdf2[pdf2['card_provider'].isin(get_card_names)]

In [123]:
pdf3[['card_number','card_provider','expected_num_dig']]

,card_number,card_provider,expected_num_dig
0,0 30060773296197\n1 349624180...,Diners Club / Carte Blanche,14
1,0 30060773296197\n1 349624180...,American Express,15
2,0 30060773296197\n1 349624180...,JCB 16 digit,16
3,0 30060773296197\n1 349624180...,JCB 15 digit,15
4,0 30060773296197\n1 349624180...,Maestro,"[12, 13, 14, 15, 16, 17, 18, 19]"
...,...,...,...
15304,0 30060773296197\n1 349624180...,JCB 15 digit,15
15305,0 30060773296197\n1 349624180...,JCB 15 digit,15
15306,0 30060773296197\n1 349624180...,JCB 16 digit,16
15307,0 30060773296197\n1 349624180...,VISA 16 digit,16
15308,0 30060773296197\n1 349624180...,American Express,15

In [124]:
pdf3.loc[:,'comparison'] = pdf3.apply(lambda row: len(str(row['card_number'])) == row['expected_num_dig'] if isinstance(row['expected_num_dig'], int) else len(str(row['card_number'])) in row['expected_num_dig'], axis=1)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\284436329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3.loc[:,'comparison'] = pdf3.apply(lambda row: len(str(row['card_number'])) == row['expected_num_dig'] if isinstance(row['expected_num_dig'], int) else len(str(row['card_number'])) in row['expected_num_dig'], axis=1)

In [125]:
pdf3['comparison'].value_counts()

comparison
False    15284
Name: count, dtype: int64

In [126]:
import pandas as pd
review = pdf3[pdf3['comparison'] == False].head(100)
review.to_csv('review.csv')

In [127]:
review = pdf3[pdf3['card_provider'] == 'Maestro']
print(review)

                                             card_number          expiry_date  \
4      0          30060773296197\n1         349624180...  2025-01-10 00:00:00
9      0          30060773296197\n1         349624180...  2023-01-07 00:00:00
35     0          30060773296197\n1         349624180...  2027-01-08 00:00:00
42     0          30060773296197\n1         349624180...  2027-01-07 00:00:00
49     0          30060773296197\n1         349624180...  2025-01-02 00:00:00
...                                                  ...                  ...
15240  0          30060773296197\n1         349624180...  2032-01-04 00:00:00
15285  0          30060773296197\n1         349624180...  2024-01-10 00:00:00
15289  0          30060773296197\n1         349624180...  2026-01-11 00:00:00
15290  0          30060773296197\n1         349624180...  2028-01-11 00:00:00
15291  0          30060773296197\n1         349624180...  2028-01-05 00:00:00

      card_provider date_payment_confirmed                  expected_num_dig  \
4           Maestro    1997-03-13 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
9           Maestro    2011-04-30 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
35          Maestro    2022-11-18 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
42          Maestro    2006-12-31 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
49          Maestro    1995-07-22 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
...             ...                    ...                               ...
15240       Maestro    2013-10-03 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
15285       Maestro    2009-02-26 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
15289       Maestro    2003-08-25 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
15290       Maestro    2015-05-22 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]
15291       Maestro    2002-08-29 00:00:00  [12, 13, 14, 15, 16, 17, 18, 19]

       comparison
4           False
9           False
35          False
42          False
49          False
...           ...
15240       False
15285       False
15289       False
15290       False
15291       False

[1281 rows x 6 columns]

In [128]:
pdf3['card_number'] = pdf3['card_number'].astype(str)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_2852\3786287763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3['card_number'] = pdf3['card_number'].astype(str)

In [129]:
pdf3[pdf3['card_number'].str.contains(r'\D')]

,card_number,expiry_date,card_provider,date_payment_confirmed,expected_num_dig,comparison
0,0 30060773296197\n1 349624180...,2026-01-09 00:00:00,Diners Club / Carte Blanche,2015-11-25 00:00:00,14,False
1,0 30060773296197\n1 349624180...,2023-01-10 00:00:00,American Express,2001-06-18 00:00:00,15,False
2,0 30060773296197\n1 349624180...,2023-01-06 00:00:00,JCB 16 digit,2000-12-26 00:00:00,16,False
3,0 30060773296197\n1 349624180...,2027-01-09 00:00:00,JCB 15 digit,2011-02-12 00:00:00,15,False
4,0 30060773296197\n1 349624180...,2025-01-10 00:00:00,Maestro,1997-03-13 00:00:00,"[12, 13, 14, 15, 16, 17, 18, 19]",False
...,...,...,...,...,...,...
15304,0 30060773296197\n1 349624180...,2028-01-12 00:00:00,JCB 15 digit,1997-06-06 00:00:00,15,False
15305,0 30060773296197\n1 349624180...,2024-01-11 00:00:00,JCB 15 digit,2004-06-16 00:00:00,15,False
15306,0 30060773296197\n1 349624180...,2024-01-04 00:00:00,JCB 16 digit,2020-02-05 00:00:00,16,False
15307,0 30060773296197\n1 349624180...,2027-01-06 00:00:00,VISA 16 digit,2008-06-16 00:00:00,16,False
15308,0 30060773296197\n1 349624180...,2030-01-02 00:00:00,American Express,2009-02-04 00:00:00,15,False

In [130]:
pdf3.loc[pdf3['card_number'].str.contains(r'\D'), 'card_number'] = None

# Checking code to GET API data

In [51]:
#
import yaml
import requests

with open('db_creds.yaml','r') as file:
    credentials = yaml.safe_load(file)

response = requests.get("https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores", headers=credentials['header'])

if response.status_code == 200:
    data = response.json()
else:
    print(f"Request failed with status code: {response.status_code}")
    print(f"Response Text: {response.text}")

In [52]:
print(data)

{'statusCode': 200, 'number_stores': 451}

In [53]:
import pandas as pd
import requests
import yaml

with open('db_creds.yaml', 'r') as file:
    credentials = yaml.safe_load(file)

data_list = []
for store_number in range(0, 451):
    response = requests.get(f"https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/{store_number}", headers=credentials['header'])

    if response.status_code == 200:
        data = response.json()
        data_list.append(data)
        # Process the data as needed for each store
        print(f"Data for store {store_number}: {data}")
    else:
        print(f"Request for store {store_number} failed with status code: {response.status_code}")
        print(f"Response Text: {response.text}")

df_api = pd.DataFrame(data_list)

Data for store 0: {'index': 0, 'address': 'N/A', 'longitude': 'N/A', 'lat': 'N/A', 'locality': 'N/A', 'store_code': 'WEB-1388012W', 'staff_numbers': '325', 'opening_date': '2010-06-12', 'store_type': 'Web Portal', 'latitude': None, 'country_code': 'GB', 'continent': 'Europe'}
Data for store 1: {'index': 1, 'address': 'Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, High Wycombe', 'longitude': '51.62907', 'lat': None, 'locality': 'High Wycombe', 'store_code': 'HI-9B97EE4E', 'staff_numbers': '34', 'opening_date': '1996-10-25', 'store_type': 'Local', 'latitude': '-0.74934', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 2: {'index': 2, 'address': 'Heckerstraße 4/5\n50491 Säckingen, Landshut', 'longitude': '48.52961', 'lat': None, 'locality': 'Landshut', 'store_code': 'LA-0772C7B9', 'staff_numbers': '92', 'opening_date': '2013-04-12', 'store_type': 'Super Store', 'latitude': '12.16179', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 3: {'index': 3, 'address': '5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury', 'longitude': '51.26', 'lat': None, 'locality': 'Westbury', 'store_code': 'WE-1DE82CEE', 'staff_numbers': '69', 'opening_date': '2014-01-02', 'store_type': 'Super Store', 'latitude': '-2.1875', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 4: {'index': 4, 'address': 'Studio 6\nStephen landing\nSouth Simon\nB77 2WA, Belper', 'longitude': '53.0233', 'lat': None, 'locality': 'Belper', 'store_code': 'BE-18074576', 'staff_numbers': '35', 'opening_date': '2019-09-09', 'store_type': 'Local', 'latitude': '-1.48119', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 5: {'index': 5, 'address': 'Flat 92u\nChristian harbors\nPort Charlotte\nN57 8FJ, Gainsborough', 'longitude': '53.38333', 'lat': None, 'locality': 'Gainsborough', 'store_code': 'GA-CAD01AC2', 'staff_numbers': '36', 'opening_date': '1995-05-15', 'store_type': 'Local', 'latitude': '-0.76667', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 6: {'index': 6, 'address': '7 Gillian rue\nWest Robertside\nPH4 8NY, Rutherglen', 'longitude': '55.82885', 'lat': None, 'locality': 'Rutherglen', 'store_code': 'RU-C603E990', 'staff_numbers': '92', 'opening_date': '2001-01-04', 'store_type': 'Super Store', 'latitude': '-4.21376', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 7: {'index': 7, 'address': 'Lilija-Heß-Allee 660\n34566 Regensburg, Stuttgart', 'longitude': '48.78232', 'lat': None, 'locality': 'Stuttgart', 'store_code': 'ST-229D997E', 'staff_numbers': '34', 'opening_date': '2000-06-01', 'store_type': 'Local', 'latitude': '9.17702', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 8: {'index': 8, 'address': '510 Jill Mill\nSouth Laura, FL 38723, Kaukauna', 'longitude': '44.27804', 'lat': None, 'locality': 'Kaukauna', 'store_code': 'KA-FA7ED3B8', 'staff_numbers': '31', 'opening_date': '2022-09-05', 'store_type': 'Local', 'latitude': '-88.27205', 'country_code': 'US', 'continent': 'America'}
Data for store 9: {'index': 9, 'address': '3 Lee valleys\nWest Janetview\nDY4M 2RL, Hartley', 'longitude': '51.38673', 'lat': None, 'locality': 'Hartley', 'store_code': 'HA-974352FE', 'staff_numbers': '20', 'opening_date': '2004-09-11', 'store_type': 'Local', 'latitude': '0.30367', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 10: {'index': 10, 'address': '8 Gareth skyway\nSimmonsview\nSW4 7PL, Rutherglen', 'longitude': '55.82885', 'lat': None, 'locality': 'Rutherglen', 'store_code': 'RU-9F1136B4', 'staff_numbers': '32', 'opening_date': 'October 2012 08', 'store_type': 'Local', 'latitude': '-4.21376', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 11: {'index': 11, 'address': 'Bergerstr. 1/3\n59183 Seelow, Siegburg', 'longitude': '50.80019', 'lat': None, 'locality': 'Siegburg', 'store_code': 'SI-ECD52CD9', 'staff_numbers': '25', 'opening_date': 'July 2015 14', 'store_type': 'Local', 'latitude': '7.20769', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 12: {'index': 12, 'address': 'Flat 37\nBennett expressway\nNew Charlotte\nSY8R 5WE, Devizes', 'longitude': '51.35084', 'lat': None, 'locality': 'Devizes', 'store_code': 'DE-585399CF', 'staff_numbers': '36', 'opening_date': '2014-10-11', 'store_type': 'Local', 'latitude': '-1.99421', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 13: {'index': 13, 'address': '520 Fisher Inlet Suite 594\nPort Eric, IL 71753, Crystal Lake', 'longitude': '42.24113', 'lat': None, 'locality': 'Crystal Lake', 'store_code': 'CR-792AA8BB', 'staff_numbers': '138', 'opening_date': '2018-04-05', 'store_type': 'Super Store', 'latitude': '-88.3162', 'country_code': 'US', 'continent': 'America'}
Data for store 14: {'index': 14, 'address': 'Herma-Rädel-Gasse 29\n74557 Fulda, Halstenbek', 'longitude': '53.63333', 'lat': None, 'locality': 'Halstenbek', 'store_code': 'HA-39A446E2', 'staff_numbers': '38', 'opening_date': '1994-03-08', 'store_type': 'Local', 'latitude': '9.85', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 15: {'index': 15, 'address': '4 Teresa lodge\nWest Mathewchester\nSP39 3UZ, Lancing', 'longitude': '50.82882', 'lat': None, 'locality': 'Lancing', 'store_code': 'LA-9B0D9277', 'staff_numbers': '39', 'opening_date': '2020-06-05', 'store_type': 'Local', 'latitude': '-0.32247', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 16: {'index': 16, 'address': '74 Mills route\nLaurahaven\nPL4R 6HA, Newbury', 'longitude': '51.40148', 'lat': None, 'locality': 'Newbury', 'store_code': 'NE-1D8B1D0C', 'staff_numbers': '33', 'opening_date': '2004-05-02', 'store_type': 'Local', 'latitude': '-1.32471', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 17: {'index': 17, 'address': '9 Ryan springs\nLake Allan\nE0 1AW, Lymington', 'longitude': '50.75767', 'lat': None, 'locality': 'Lymington', 'store_code': 'LY-4C3D5D6C', 'staff_numbers': '36', 'opening_date': '2016-02-12', 'store_type': 'Local', 'latitude': '-1.5443', 'country_code': 'GB', 'continent': 'eeEurope'}
Data for store 18: {'index': 18, 'address': 'Studio 80d\nHolly cliffs\nIanport\nG4F 4HR, Chapletown', 'longitude': '53.46506', 'lat': None, 'locality': 'Chapletown', 'store_code': 'CH-6A561423', 'staff_numbers': '34', 'opening_date': '2008-01-21', 'store_type': 'Local', 'latitude': '-1.47217', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 19: {'index': 19, 'address': '59 Lee drives\nGeorginaview\nOL93 1GX, Barnet', 'longitude': '51.65', 'lat': None, 'locality': 'Barnet', 'store_code': 'BA-898BDED3', 'staff_numbers': '109', 'opening_date': '2022-08-01', 'store_type': 'Super Store', 'latitude': '-0.2', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 20: {'index': 20, 'address': 'Flat 83\nShirley parkway\nSylviashire\nN0 5AQ, East Dereham', 'longitude': '52.68333', 'lat': None, 'locality': 'East Dereham', 'store_code': 'EA-77ECA680', 'staff_numbers': '8', 'opening_date': '1994-08-12', 'store_type': 'Mall Kiosk', 'latitude': '0.93333', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 21: {'index': 21, 'address': 'Flat 28\nKirby villages\nWest Vincent\nCV4 0RT, Poulton-le-Fylde', 'longitude': '53.83333', 'lat': None, 'locality': 'Poulton-le-Fylde', 'store_code': 'PO-38790FAE', 'staff_numbers': '25', 'opening_date': '2010-10-19', 'store_type': 'Local', 'latitude': '-2.98333', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 22: {'index': 22, 'address': 'Studio 00p\nGeorge point\nWest Barbara\nS5J 3JT, Bushey', 'longitude': '51.64316', 'lat': None, 'locality': 'Bushey', 'store_code': 'BU-251A0E5A', 'staff_numbers': '35', 'opening_date': '2013-08-05', 'store_type': 'Local', 'latitude': '-0.36053', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 23: {'index': 23, 'address': 'Rena-Karz-Gasse 574\n66493 Olpe, Ehingen', 'longitude': '48.28259', 'lat': None, 'locality': 'Ehingen', 'store_code': 'EH-91356030', 'staff_numbers': '38', 'opening_date': '2017-12-12', 'store_type': 'Local', 'latitude': '9.72749', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 24: {'index': 24, 'address': 'Flat 43d\nHall street\nSusanshire\nKA9 8HF, Aberdeen', 'longitude': '57.14369', 'lat': None, 'locality': 'Aberdeen', 'store_code': 'AB-917B715E', 'staff_numbers': '119', 'opening_date': '2002-06-18', 'store_type': 'Super Store', 'latitude': '-2.09814', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 25: {'index': 25, 'address': '12 William underpass\nSouth Brettland\nL3K 8BB, Surbiton', 'longitude': '51.39148', 'lat': None, 'locality': 'Surbiton', 'store_code': 'SU-0B4C9A5F', 'staff_numbers': '28', 'opening_date': '2007-06-24', 'store_type': 'Local', 'latitude': '-0.29825', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 26: {'index': 26, 'address': '08 Brenda valleys\nNorth Stewartborough\nTQ32 7FS, Inverness', 'longitude': '57.47908', 'lat': None, 'locality': 'Inverness', 'store_code': 'IN-157E1191', 'staff_numbers': '29', 'opening_date': '2017-11-04', 'store_type': 'Local', 'latitude': '-4.22398', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 27: {'index': 27, 'address': 'Studio 94\nTina freeway\nWoodshaven\nYO93 9TU, Gainsborough', 'longitude': '53.38333', 'lat': None, 'locality': 'Gainsborough', 'store_code': 'GA-DA8EEA4A', 'staff_numbers': '29', 'opening_date': '2008-07-08', 'store_type': 'Local', 'latitude': '-0.76667', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 28: {'index': 28, 'address': 'Flat 8\nCooper estates\nReidchester\nKY14 4PW, Lancing', 'longitude': '50.82882', 'lat': None, 'locality': 'Lancing', 'store_code': 'LA-2B59A825', 'staff_numbers': '25', 'opening_date': '1998-12-23', 'store_type': 'Local', 'latitude': '-0.32247', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 29: {'index': 29, 'address': 'Köhlerring 00\n08489 Fulda, Weimar', 'longitude': '50.9803', 'lat': None, 'locality': 'Weimar', 'store_code': 'WE-31C8B335', 'staff_numbers': '27', 'opening_date': '2011-03-11', 'store_type': 'Local', 'latitude': '11.32903', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 30: {'index': 30, 'address': 'Häringstr. 481\n62852 Kamenz, Landshut', 'longitude': '48.52961', 'lat': None, 'locality': 'Landshut', 'store_code': 'LA-F1042C48', 'staff_numbers': '34', 'opening_date': '2010-08-25', 'store_type': 'Local', 'latitude': '12.16179', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 31: {'index': 31, 'address': 'Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS, East Dereham', 'longitude': '52.68333', 'lat': None, 'locality': 'East Dereham', 'store_code': 'EA-24B31935', 'staff_numbers': 'J78', 'opening_date': '2012-11-09', 'store_type': 'Outlet', 'latitude': '0.93333', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 32: {'index': 32, 'address': 'Flat 7\nChambers shoals\nCarolyntown\nSM2 0FQ, East Dereham', 'longitude': '52.68333', 'lat': None, 'locality': 'East Dereham', 'store_code': 'EA-7965E06D', 'staff_numbers': '96', 'opening_date': '2016-10-07', 'store_type': 'Super Store', 'latitude': '0.93333', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 33: {'index': 33, 'address': 'Studio 1\nDavidson harbor\nSheppardview\nM9J 9LW, Penzance', 'longitude': '50.11861', 'lat': None, 'locality': 'Penzance', 'store_code': 'PE-040B15C3', 'staff_numbers': '135', 'opening_date': '2018-08-15', 'store_type': 'Super Store', 'latitude': '-5.53715', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 34: {'index': 34, 'address': 'Sabina-Baum-Platz 4\n10599 Wanzleben, Ehingen', 'longitude': '48.28259', 'lat': None, 'locality': 'Ehingen', 'store_code': 'EH-DB8676C1', 'staff_numbers': '28', 'opening_date': '1996-10-02', 'store_type': 'Local', 'latitude': '9.72749', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 35: {'index': 35, 'address': 'Fechnerweg 6\n72000 Greiz, Albstadt', 'longitude': '48.21644', 'lat': None, 'locality': 'Albstadt', 'store_code': 'AL-91D3A03C', 'staff_numbers': '30', 'opening_date': '2018-06-18', 'store_type': 'Local', 'latitude': '9.02596', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 36: {'index': 36, 'address': 'Kensyring 567\n46539 Oschatz, Hechingen', 'longitude': '48.35149', 'lat': None, 'locality': 'Hechingen', 'store_code': 'HE-E39F4BC6', 'staff_numbers': '31', 'opening_date': '1995-06-04', 'store_type': 'Local', 'latitude': '8.96317', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 37: {'index': 37, 'address': '978 Daniel viaduct\nJohnsonville\nE1A 7TW, Poulton-le-Fylde', 'longitude': '53.83333', 'lat': None, 'locality': 'Poulton-le-Fylde', 'store_code': 'PO-47A01287', 'staff_numbers': '29', 'opening_date': '1994-10-18', 'store_type': 'Local', 'latitude': '-2.98333', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 38: {'index': 38, 'address': 'Flat 8\nGrace radial\nGeorginashire\nW06 1BZ, Lancing', 'longitude': '50.82882', 'lat': None, 'locality': 'Lancing', 'store_code': 'LA-D78C5F3F', 'staff_numbers': '28', 'opening_date': '2002-07-21', 'store_type': 'Local', 'latitude': '-0.32247', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 39: {'index': 39, 'address': 'Studio 55A\nAli brooks\nPearceburgh\nSW8 2RT, Mexborough', 'longitude': '53.49389', 'lat': None, 'locality': 'Mexborough', 'store_code': 'ME-31958763', 'staff_numbers': '90', 'opening_date': '2013-12-23', 'store_type': 'Outlet', 'latitude': '-1.29243', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 40: {'index': 40, 'address': '420 Harrison way\nWhitemouth\nE4 5RZ, Arbroath', 'longitude': '56.56317', 'lat': None, 'locality': 'Arbroath', 'store_code': 'AR-5E72668B', 'staff_numbers': '34', 'opening_date': '2006-10-04', 'store_type': 'Local', 'latitude': '-2.58736', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 41: {'index': 41, 'address': '7 Sophie ways\nEast Kevinborough\nTD1M 0FG, Cowes', 'longitude': '50.76306', 'lat': None, 'locality': 'Cowes', 'store_code': 'CO-CB3D8C89', 'staff_numbers': '120', 'opening_date': '1999-07-17', 'store_type': 'Super Store', 'latitude': '-1.29772', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 42: {'index': 42, 'address': 'Studio 46k\nPhillips hollow\nSouth Eileen\nG21 2EA, Clacton-on-Sea', 'longitude': '51.78967', 'lat': None, 'locality': 'Clacton-on-Sea', 'store_code': 'CL-5C7C3198', 'staff_numbers': '50', 'opening_date': '1998-12-19', 'store_type': 'Outlet', 'latitude': '1.15597', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 43: {'index': 43, 'address': '92863 Kathryn Ford Suite 747\nEast Craig, DC 24439, Boston', 'longitude': '42.35843', 'lat': None, 'locality': 'Boston', 'store_code': 'BO-17E7B6CE', 'staff_numbers': '75', 'opening_date': '2019-07-28', 'store_type': 'Super Store', 'latitude': '-71.05977', 'country_code': 'US', 'continent': 'America'}
Data for store 44: {'index': 44, 'address': 'Bertold-Nette-Allee 7/8\n32669 Chemnitz, Charlottenburg-Nord', 'longitude': '52.53048', 'lat': None, 'locality': 'Charlottenburg-Nord', 'store_code': 'CH-619E036C', 'staff_numbers': '118', 'opening_date': '2017-10-21', 'store_type': 'Super Store', 'latitude': '13.29371', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 45: {'index': 45, 'address': 'Lindauweg 7\n89647 Luckau, Bretten', 'longitude': '49.03685', 'lat': None, 'locality': 'Bretten', 'store_code': 'BR-BC499EDD', 'staff_numbers': '37', 'opening_date': '2020-05-13', 'store_type': 'Local', 'latitude': '8.70745', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 46: {'index': 46, 'address': 'Flat 85Q\nGeorge field\nBarrettbury\nBS2B 5WR, Newbury', 'longitude': '51.40148', 'lat': None, 'locality': 'Newbury', 'store_code': 'NE-E50207AD', 'staff_numbers': '67', 'opening_date': '2019-12-24', 'store_type': 'Super Store', 'latitude': '-1.32471', 'country_code': 'GB', 'continent': 'eeEurope'}
Data for store 47: {'index': 47, 'address': '2 Jade corners\nSouth Ashleybury\nW1 0RE, Belper', 'longitude': '53.0233', 'lat': None, 'locality': 'Belper', 'store_code': 'BE-8C0CF738', 'staff_numbers': '26', 'opening_date': '2002-04-03', 'store_type': 'Local', 'latitude': '-1.48119', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 48: {'index': 48, 'address': 'Studio 1\nBrandon branch\nFrancescaview\nTD4N 2XL, Newbury', 'longitude': '51.40148', 'lat': None, 'locality': 'Newbury', 'store_code': 'NE-374D3983', 'staff_numbers': '20', 'opening_date': '2009-08-07', 'store_type': 'Local', 'latitude': '-1.32471', 'country_code': 'GB', 'continent': 'eeEurope'}
Data for store 49: {'index': 49, 'address': '0493 Alicia Station Suite 475\nElizabethfort, RI 70019, Sun City Center', 'longitude': '27.71809', 'lat': None, 'locality': 'Sun City Center', 'store_code': 'SU-95D20AE9', 'staff_numbers': '30', 'opening_date': '2004-05-23', 'store_type': 'Local', 'latitude': '-82.35176', 'country_code': 'US', 'continent': 'America'}
Data for store 50: {'index': 50, 'address': '9 Parker lake\nWest Edwardview\nSP04 5ZX, Mexborough', 'longitude': '53.49389', 'lat': None, 'locality': 'Mexborough', 'store_code': 'ME-FB62E459', 'staff_numbers': '40', 'opening_date': '2001-07-11', 'store_type': 'Local', 'latitude': '-1.29243', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 51: {'index': 51, 'address': 'Mosemannstr. 81\n30877 Schrobenhausen, Karben', 'longitude': '50.23019', 'lat': None, 'locality': 'Karben', 'store_code': 'KA-653E783F', 'staff_numbers': '36', 'opening_date': '1998-07-07', 'store_type': 'Local', 'latitude': '8.77155', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 52: {'index': 52, 'address': '220 Holt Unions Suite 688\nRamirezstad, IL 74968, Martinsburg', 'longitude': '39.45621', 'lat': None, 'locality': 'Martinsburg', 'store_code': 'MA-F0E23355', 'staff_numbers': '8', 'opening_date': '2011-07-07', 'store_type': 'Mall Kiosk', 'latitude': '-77.96389', 'country_code': 'US', 'continent': 'America'}
Data for store 53: {'index': 53, 'address': 'Trommlerstr. 7/5\n75372 Wolfach, Oschatz', 'longitude': '51.30001', 'lat': None, 'locality': 'Oschatz', 'store_code': 'OS-70B2CD28', 'staff_numbers': '36', 'opening_date': '2007-02-04', 'store_type': 'Local', 'latitude': '13.10984', 'country_code': 'DE', 'continent': 'Europe'}
Data for store 54: {'index': 54, 'address': 'Flat 26c\nWalker creek\nSouth Mary\nHU8X 8YP, Kingston upon Hull', 'longitude': '53.7446', 'lat': None, 'locality': 'Kingston upon Hull', 'store_code': 'KI-A53AF10A', 'staff_numbers': '6', 'opening_date': '1993-10-13', 'store_type': 'Mall Kiosk', 'latitude': '-0.33525', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 55: {'index': 55, 'address': 'Flat 40w\nThomas wall\nSouth Susan\nLL4 8LG, Leyland', 'longitude': '53.69786', 'lat': None, 'locality': 'Leyland', 'store_code': 'LE-63F3D33B', 'staff_numbers': '25', 'opening_date': '2006-06-16', 'store_type': 'Local', 'latitude': '-2.68758', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 56: {'index': 56, 'address': '9066 Rosales Port Suite 675\nMeyerville, NV 79336, Venice', 'longitude': '27.09978', 'lat': None, 'locality': 'Venice', 'store_code': 'VE-93DA8430', 'staff_numbers': '22', 'opening_date': '2006-02-23', 'store_type': 'Local', 'latitude': '-82.45426', 'country_code': 'US', 'continent': 'eeAmerica'}
Data for store 57: {'index': 57, 'address': 'Studio 57\nEdwards springs\nJohnsonbury\nB52 8TN, High Wycombe', 'longitude': '51.62907', 'lat': None, 'locality': 'High Wycombe', 'store_code': 'HI-BAD4DD1C', 'staff_numbers': '24', 'opening_date': '2019-09-08', 'store_type': 'Local', 'latitude': '-0.74934', 'country_code': 'GB', 'continent': 'Europe'}
Data for store 58: {'index': 58, 'address': '664 Andrew land\nNew Mohammadhaven\nN07 9JZ, Rutherglen', 'longitude': '55.82885', 'lat': None, 'locality': 'Rutherglen', 'store_code': 'RU-1994A94D', 'staff_numbers': '83', 'opening_date': '1993-09-03', 'store_type': 'Outlet', 'latitude': '-4.21376', 'country_code': 'GB', 'continent': 'Europe'}

# Reviewing and cleaning the API data

In [5]:
df_api.isnull().sum()

index              0
address            0
longitude          0
lat              440
locality           0
store_code         0
staff_numbers      0
opening_date       0
store_type         0
latitude           0
country_code       0
continent          0
dtype: int64

In [9]:
df_api['staff_numbers'] = pd.to_numeric(df_api['staff_numbers'], errors = 'coerce')
df_api[df_api['staff_numbers'] < 5]

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
84,85,"549 Watson highway\nMarcusport\nE2 3WZ, Exeter",50.7236,None,Exeter,EX-9ED6711E,4.0,1999-12-10,Mall Kiosk,-3.52751,GB,Europe
95,96,"Cichoriusplatz 61\n10993 Niesky, Verl",51.88333,None,Verl,VE-B81F9500,4.0,2000-07-10,Mall Kiosk,8.51667,DE,Europe
102,103,"64 Hayes crossing\nPort Ellieville\nG7S 1XQ, W...",51.84819,None,Walton-on-the-Naze,WA-FF3389AF,4.0,2001-02-16,Mall Kiosk,1.26738,GB,Europe
234,235,"23220 Christine Passage\nLake Karen, ME 66805,...",32.9156,None,Mira Mesa,MI-D57825AA,4.0,2000-02-12,Mall Kiosk,-117.14392,US,America
252,253,"5 Gill square\nBlakeborough\nPR9W 6XB, Brierle...",52.48173,None,Brierley Hill,BR-FB62A5BA,4.0,2004-12-30,Mall Kiosk,-2.12139,GB,Europe
284,285,"Reinhard-Weller-Allee 7\n09791 Uelzen, Reutlingen",48.49144,None,Reutlingen,RE-FAF57EF7,4.0,2013-07-13,Mall Kiosk,9.20427,DE,eeEurope
298,299,"05 Stone trail\nLake Alexandratown\nW3 1YU, Bl...",53.81667,None,Blackpool,BL-D6CF153F,4.0,2004-03-15,Mall Kiosk,-3.05,GB,Europe
299,300,"Flat 12\nHarriet circle\nSandraland\nUB0V 3QF,...",56.56317,None,Arbroath,AR-2284FD32,4.0,2018-11-29,Mall Kiosk,-2.58736,GB,Europe
315,316,"118 Logan Port Suite 682\nNew Jacobton, SC 818...",28.15112,None,Lutz,LU-439557A9,4.0,2012-08-18,Mall Kiosk,-82.46148,US,America
330,331,"Flat 9\nMarc islands\nJoanfort\nLN39 1RY, Bushey",51.64316,None,Bushey,BU-79F72A64,4.0,2011-09-24,Mall Kiosk,-0.36053,GB,Europe
352,353,"4 Emma trail\nEllisborough\nE0 7DY, Rutherglen",55.82885,None,Rutherglen,RU-9D16C525,4.0,1998-09-11,Mall Kiosk,-4.21376,GB,Europe

In [10]:
df_api['store_code'].value_counts()

store_code
NULL           3
HI-9B97EE4E    1
BL-9A86B74D    1
AB-30E0C17F    1
HO-16A376B0    1
              ..
LY-89B9F675    1
SU-5F78B30A    1
CL-DA5365DF    1
ME-9940FF73    1
BA-B4AED588    1
Name: count, Length: 448, dtype: int64

In [15]:
df_api['store_code'].head(50)

0     HI-9B97EE4E
1     LA-0772C7B9
2     WE-1DE82CEE
3     BE-18074576
4     GA-CAD01AC2
5     RU-C603E990
6     ST-229D997E
7     KA-FA7ED3B8
8     HA-974352FE
9     RU-9F1136B4
10    SI-ECD52CD9
11    DE-585399CF
12    CR-792AA8BB
13    HA-39A446E2
14    LA-9B0D9277
15    NE-1D8B1D0C
16    LY-4C3D5D6C
17    CH-6A561423
18    BA-898BDED3
19    EA-77ECA680
20    PO-38790FAE
21    BU-251A0E5A
22    EH-91356030
23    AB-917B715E
24    SU-0B4C9A5F
25    IN-157E1191
26    GA-DA8EEA4A
27    LA-2B59A825
28    WE-31C8B335
29    LA-F1042C48
30    EA-24B31935
31    EA-7965E06D
32    PE-040B15C3
33    EH-DB8676C1
34    AL-91D3A03C
35    HE-E39F4BC6
36    PO-47A01287
37    LA-D78C5F3F
38    ME-31958763
39    AR-5E72668B
40    CO-CB3D8C89
41    CL-5C7C3198
42    BO-17E7B6CE
43    CH-619E036C
44    BR-BC499EDD
45    NE-E50207AD
46    BE-8C0CF738
47    NE-374D3983
48    SU-95D20AE9
49    ME-FB62E459
Name: store_code, dtype: object

In [44]:
import re

# Assuming df_api is your DataFrame
pattern = r'^(?!\w{2}-\w{8}$).*$'
filtered_df = df_api[df_api['store_code'].astype(str).str.match(pattern, na=False)]
filtered_df.head(50)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent,first_two_letters
62,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,-1.0,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD,NR
171,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,-1.0,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9,QI
216,217,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
230,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,-1.0,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW,Y8
332,333,X349GIDWKU,O7NF1FZ74Y,VKA5I8H32X,RX9TCP2RGB,ISEE8A57FE,-1.0,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8,IS
380,381,ZBGB54ID4H,SKO4NMRNNF,LACCWDI0SB,CQMHKI78BX,T0R2CQBDUS,-1.0,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0,T0
404,405,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
413,414,XTUAV57DP4,ID819KG3X5,A3O5CBWAMD,RY6K0AUE7F,TUOKF5HAAQ,-1.0,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG,TU
436,437,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
446,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,-1.0,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL,9D

In [16]:
df_api['first_two_letters'] = df_api['store_code'].apply(lambda x: x[:2] if isinstance(x, str) else None)

In [24]:
value_counts = df_api['first_two_letters'].value_counts()
print(value_counts)

first_two_letters
CH    22
LA    18
WE    15
BE    15
BU    15
      ..
BO     1
Y8     1
NR     1
MO     1
9D     1
Name: count, Length: 80, dtype: int64

In [39]:
# Filter the indices where the value counts are less than 10
indices_less_than_10 = value_counts.index[value_counts < 1].tolist()

# Display the indices
print(indices_less_than_10)

[]

In [35]:
df_api[df_api['first_two_letters'].isin(indices_less_than_10)].head(50)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent,first_two_letters
7,8,"510 Jill Mill\nSouth Laura, FL 38723, Kaukauna",44.27804,None,Kaukauna,KA-FA7ED3B8,31.0,2022-09-05,Local,-88.27205,US,America,KA
10,11,"Bergerstr. 1/3\n59183 Seelow, Siegburg",50.80019,None,Siegburg,SI-ECD52CD9,25.0,July 2015 14,Local,7.20769,DE,Europe,SI
11,12,Flat 37\nBennett expressway\nNew Charlotte\nSY...,51.35084,None,Devizes,DE-585399CF,36.0,2014-10-11,Local,-1.99421,GB,Europe,DE
12,13,"520 Fisher Inlet Suite 594\nPort Eric, IL 7175...",42.24113,None,Crystal Lake,CR-792AA8BB,138.0,2018-04-05,Super Store,-88.3162,US,America,CR
42,43,"92863 Kathryn Ford Suite 747\nEast Craig, DC 2...",42.35843,None,Boston,BO-17E7B6CE,75.0,2019-07-28,Super Store,-71.05977,US,America,BO
50,51,"Mosemannstr. 81\n30877 Schrobenhausen, Karben",50.23019,None,Karben,KA-653E783F,36.0,1998-07-07,Local,8.77155,DE,Europe,KA
51,52,"220 Holt Unions Suite 688\nRamirezstad, IL 749...",39.45621,None,Martinsburg,MA-F0E23355,8.0,2011-07-07,Mall Kiosk,-77.96389,US,America,MA
52,53,"Trommlerstr. 7/5\n75372 Wolfach, Oschatz",51.30001,None,Oschatz,OS-70B2CD28,36.0,2007-02-04,Local,13.10984,DE,Europe,OS
60,61,"Martha-Dörr-Platz 1/3\n53035 Bad Mergentheim, ...",49.13645,None,Eppingen,EP-105C3FB5,27.0,2014-07-16,Local,8.91229,DE,Europe,EP
62,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,NaN,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD,NR
67,68,Flat 81A\nLeonard glens\nEast Kayleigh\nN8J 4S...,50.79205,None,Southsea,SO-6D328417,132.0,2002-03-30,Super Store,-1.08593,GB,Europe,SO
76,77,"91374 Stanley Rapid Apt. 083\nSouth Christian,...",40.81,None,Morningside Heights,MO-E8CFF8FE,40.0,2004-12-19,Local,-73.9625,US,America,MO
92,93,"14577 Thomas Station\nNorth Andrew, SD 63439, ...",32.9156,None,Mira Mesa,MI-20EE1BFA,20.0,2006-07-07,Local,-117.14392,US,America,MI
100,101,"Flat 56X\nWayne fields\nWebbside\nBL8R 2QU, So...",50.79205,None,Southsea,SO-6D546AD2,41.0,2011-09-25,Outlet,-1.08593,GB,Europe,SO
104,105,"Minna-Juncken-Gasse 906\n83233 Husum, Friedberg",48.35693,None,Friedberg,FR-C04291C3,33.0,2012-02-15,Local,10.98461,DE,Europe,FR
116,117,"Linkeallee 7/3\n66084 Füssen, Karben",50.23019,None,Karben,KA-9D87BC15,69.0,2010-07-23,Super Store,8.77155,DE,Europe,KA
125,126,"Keudelallee 65\n00759 Mallersdorf, Oberhausen",51.47805,None,Oberhausen,OB-7A4A9012,20.0,1996-06-05,Local,6.8625,DE,Europe,OB
130,131,"Hans-Eberhard-Franke-Gasse 1/0\n40343 Rostock,...",51.04962,None,Zeitz,ZE-BBF02AEA,31.0,2002-07-30,Local,12.1369,DE,Europe,ZE
133,134,"847 Joe spur\nMarshallmouth\nM71 2LP, Rhosllan...",53.00974,None,Rhosllanerchrugog,RH-F3E200B7,6.0,2006-07-26,Mall Kiosk,-3.05814,GB,Europe,RH
135,136,"Süßebiergasse 4\n30238 Mettmann, Marburg an de...",50.80904,None,Marburg an der Lahn,MA-316BDC6E,83.0,2011-11-06,Outlet,8.77069,DE,Europe,MA
138,139,"Eleni-Trommler-Allee 180\n78345 Stendal, Marbu...",50.80904,None,Marburg an der Lahn,MA-0D207813,66.0,1995-12-30,Outlet,8.77069,DE,Europe,MA
148,149,"Erdal-Jacob-Ring 9\n39042 Bad Freienwalde, Sie...",50.80019,None,Siegburg,SI-66F97423,74.0,2008-03-08,Super Store,7.20769,DE,Europe,SI
155,156,"78005 Steele Orchard Apt. 098\nEast Jennifer, ...",42.24113,None,Crystal Lake,CR-6B885B5E,25.0,2001-11-11,Local,-88.3162,US,America,CR
158,159,"Juergen-Loos-Straße 0/8\n93137 Mettmann, Tross...",48.07667,None,Trossingen,TR-4E1AF636,23.0,2022-06-21,Local,8.64409,DE,Europe,TR
160,161,"Marijan-Dehmel-Straße 0/8\n24704 Germersheim, ...",52.4581,None,Dahlem,DA-D9DC550B,25.0,1998-04-22,Local,13.28702,DE,Europe,DA
165,166,"Lidia-Zobel-Straße 922\n51389 Mallersdorf, Fri...",48.35693,None,Friedberg,FR-0FA7D921,31.0,2012-03-15,Local,10.98461,DE,eeEurope,FR
171,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,NaN,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9,QI
173,174,"Kruschwitzplatz 13\n02034 Hainichen, Marburg a...",50.80904,None,Marburg an der Lahn,MA-20E6EB37,35.0,2004-09-13,Local,8.77069,DE,Europe,MA
178,179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,None,Dahlem,DA-ACC520AE,NaN,1994-03-07,Local,13.28702,DE,Europe,DA
183,184,"Wolf-Thies-Weg 032\n36732 Höxter, Zeitz",51.04962,None,Zeitz,ZE-EA9C82AA,40.0,2001-02-19,Local,12.1369,DE,Europe,ZE
196,197,"Nuray-Lorch-Ring 4/0\n84116 Grevesmühlen, Nidd...",50.23805,None,Nidderau,NI-D757F308,27.0,1997-05-01,Local,8.86704,DE,Europe,NI
202,203,"516 Robinson Street Apt. 867\nWest Donna, NJ 9...",40.72816,None,Jersey City,JE-3AF1D134,38.0,2015-10-02,Local,-74.07764,US,America,JE
205,206,"5352 Maureen Turnpike Apt. 081\nLake Kevin, WY...",35.05266,None,Fayetteville,FA-6A7ABBAD,131.0,2008/12/07,Super Store,-78.87836,US,America,FA
207,208,"Mariola-Stey-Weg 67\n59162 Bad Kreuznach, Frie...",48.35693,None,Friedberg,FR-91D11D69,51.0,2007-12-21,Outlet,10.98461,DE,Europe,FR
216,217,NULL,NULL,NULL,NULL,NULL,NaN,NULL,NULL,NULL,NULL,NULL,NU
219,220,"Strohplatz 83\n98919 Perleberg, Oberhausen",51.47805,None,Oberhausen,OB-B57D2016,82.0,2014-05-21,Super Store,6.8625,DE,Europe,OB
220,221,"0885 Smith Summit\nSouth Heather, DC 76175, Re...",40.58654,None,Redding,RE-4D07B5F2,33.0,2003-04-04,Local,-122.39168,US,America,RE
221,222,"Schleichallee 0\n69754 Naila, Hofheim am Taunus",50.09019,None,Hofheim am Taunus,HO-85D2BA5B,82.0,2016-02-06,Super Store,8.4493,DE,Europe,HO
223,224,"Flat 78\nHiggins ports\nLloydfort\nLN0X 1AE, R...",53.00974,None,Rhosllanerchrugog,RH-AB6C3782,27.0,2015-02-19,Local,-3.05814,GB,Europe,RH
228,229,"van der Dussenallee 980\n73428 Karlsruhe, Hofh...",50.09019,None,Hofheim am Taunus,HO-978C59DC,87.0,2014-04-07,Outlet,8.4493,DE,Europe,HO
230,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,NaN,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW,Y8
234,235,"23220 Christine Passage\nLake Karen, ME 66805,...",32.9156,None,Mira Mesa,MI-D57825AA,4.0,2000-02-12,Mall Kiosk,-117.14392,US,America,MI
242,243,"Dörschnerweg 8\n53663 Saulgau, Aschaffenburg",49.97704,None,Aschaffenburg,AS-D26C759B,20.0,2004-12-07,Local,9.15214,DE,Europe,AS
243,244,"1135 Savannah Summit\nPierceshire, CO 66052, F...",38.58894,None,Fairview Heights,FA-0A1B14FB,73.0,1994-10-17,Outlet,-89.99038,US,America,FA
247,248,"7430 Howe Extensions Suite 299\nKellyside, WA ...",39.71734,None,Sicklerville,SI-C489938D,NaN,1994-02-28,Outlet,-74.96933,US,America,SI
253,254,"Faustgasse 1/9\n35075 Lichtenfels, Oschatz",51.30001,None,Oschatz,OS-EE0CC48A,28.0,2015-05-11,Local,13.10984,DE,Europe,OS
262,263,Maria-Theresia-Johann-Allee 52\n05110 Scheinfe...,50.80019,None,Siegburg,SI-3E5F4AD9,20.0,2010-10-27,Local,7.20769,DE,Europe,SI
277,278,"Otto-Tlustek-Ring 23\n53302 Grevenbroich, Karben",50.23019,None,Karben,KA-249967D9,31.0,1999-01-12,Local,8.77155,DE,Europe,KA
282,283,"2 Matthews street\nLynchborough\nFK37 3TX, Dev...",51.35084,None,Devizes,DE-504A9BFE,38.0,2013-05-04,Local,-1.99421,GB,Europe,DE
284,285,"Reinhard-Weller-Allee 7\n09791 Uelzen, Reutlingen",48.49144,None,Reutlingen,RE-FAF57EF7,4.0,2013-07-13,Mall Kiosk,9.20427,DE,eeEurope,RE

In [40]:
# Assuming df_api is your DataFrame
df_api['staff_numbers'] = df_api['staff_numbers'].fillna(-1)  # Filling null values with a specific value, -1 in this case
df_api[df_api['staff_numbers'] < 1]

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent,first_two_letters
30,31,"Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS,...",52.68333,None,East Dereham,EA-24B31935,-1.0,2012-11-09,Outlet,0.93333,GB,Europe,EA
62,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,-1.0,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD,NR
171,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,-1.0,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9,QI
178,179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,None,Dahlem,DA-ACC520AE,-1.0,1994-03-07,Local,13.28702,DE,Europe,DA
216,217,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
230,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,-1.0,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW,Y8
247,248,"7430 Howe Extensions Suite 299\nKellyside, WA ...",39.71734,None,Sicklerville,SI-C489938D,-1.0,1994-02-28,Outlet,-74.96933,US,America,SI
332,333,X349GIDWKU,O7NF1FZ74Y,VKA5I8H32X,RX9TCP2RGB,ISEE8A57FE,-1.0,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8,IS
340,341,Studio 8\nLydia groves\nNorth Hilarymouth\nIV4...,50.79205,None,Southsea,SO-B5B9CB3B,-1.0,2018-05-08,Super Store,-1.08593,GB,Europe,SO
374,375,"Salzstraße 1/9\n74209 Bad Freienwalde, Charlot...",52.53048,None,Charlottenburg-Nord,CH-99475026,-1.0,1995-03-05,Local,13.29371,DE,Europe,CH
380,381,ZBGB54ID4H,SKO4NMRNNF,LACCWDI0SB,CQMHKI78BX,T0R2CQBDUS,-1.0,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0,T0
404,405,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
413,414,XTUAV57DP4,ID819KG3X5,A3O5CBWAMD,RY6K0AUE7F,TUOKF5HAAQ,-1.0,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG,TU
436,437,NULL,NULL,NULL,NULL,NULL,-1.0,NULL,NULL,NULL,NULL,NULL,NU
446,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,-1.0,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL,9D

In [49]:
contains_null = df_api[df_api['address'].isnull()]
print(contains_null)

Empty DataFrame
Columns: [index, address, longitude, lat, locality, store_code, staff_numbers, opening_date, store_type, latitude, country_code, continent, first_two_letters]
Index: []

In [50]:
df_api.to_csv("api_data.csv")

In [346]:
api_data = pd.read_csv("api_data.csv")

In [347]:
api_data.head(2)

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
1,1,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe

In [348]:
api_data =api_data.drop(api_data.columns[0],axis=1)

In [349]:
# Is lat an irrelevant empty column? yes
api_data['lat'].value_counts()

lat
13KJZ890JH    1
2XE1OWOC23    1
OXVE5QR07O    1
VKA5I8H32X    1
LACCWDI0SB    1
A3O5CBWAMD    1
UXMWDMX1LC    1
Name: count, dtype: int64

In [350]:
api_data =api_data.drop('lat',axis = 1)

In [351]:
#Randomly generated rows exist, use a numbers column to dig these out
def check_alpha(string):
    return str(string).isalpha()

random = api_data[api_data['country_code'].str.len() > 2]

In [146]:
print(random)

     Unnamed: 0  index     address   longitude         lat    locality  \
62           62     63  6FWDZHD7PW  1ZVU03X2P6  13KJZ890JH  9IBH8Y4Z0S
171         171    172  UBCIFQLSNY  Q1TJY8H1ZH  2XE1OWOC23  1T6B406CI8
230         230    231  RC99UKMZB2  2YBZ1440V6  OXVE5QR07O  6LVWPU1G64
332         332    333  X349GIDWKU  O7NF1FZ74Y  VKA5I8H32X  RX9TCP2RGB
380         380    381  ZBGB54ID4H  SKO4NMRNNF  LACCWDI0SB  CQMHKI78BX
413         413    414  XTUAV57DP4  ID819KG3X5  A3O5CBWAMD  RY6K0AUE7F
446         446    447  K0ODETRLS3  K8CXLZDP07  UXMWDMX1LC  3VHFDNP8ET

     store_code staff_numbers opening_date  store_type    latitude  \
62   NRQKZWJ9OZ    BIP8K8JJW2   ZCXWWKF45G  QP74AHEQT0  1CJ5OAU4BR
171  QIUU9SVP51    SKBXAXF5G5   7AHXLXIUEF  O0QJIRC943  3ZR3F89D97
230  Y8J0Z2W8O9    2429OB3LMM   0OLAK2I6NS  50IB01SFAZ  L13EQEQODP
332  ISEE8A57FE    74BY7HSB6P   A3PMVM800J  0RSNUU3DF5  J3BPB68Z1J
380  T0R2CQBDUS    GT1FO6YGD4   GMMB02LA9V  B4KVQB3P5Y  AJHOMDOHZ4
413  TUOKF5HAAQ    FRTGHAA34B   13PIY8GD1H  X0FE7E2EOG  AE7EEW4HSS
446  9D4LK7X4LZ    D23PCWSM6S   36IIMAQD58  NN04B3F6UQ  JZP8MIJTPZ

    country_code   continent
62    YELVM536YT  QMAVR5H3LD
171   FP8DLXQVGH  LU3E036ZD9
230   HMHIFNLOBN  5586JCLARW
332   F3AO8V2LHU  GFJQ2AAEQ8
380   OH20I92LX3  SLQBD982C0
413   OYVW925ZL8  XQ953VS0FG
446   B3EH2ZGQAV  1WZB1TE1HL

In [352]:
# These rows have been found and will be dropped
api_data = api_data[api_data['country_code'].str.len() <= 2]

In [164]:
api_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 449
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          440 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     440 non-null    object
 5   staff_numbers  440 non-null    object
 6   opening_date   440 non-null    object
 7   store_type     440 non-null    object
 8   latitude       440 non-null    object
 9   country_code   440 non-null    object
 10  continent      440 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.2+ KB

In [233]:
#no nulls
api_data.isnull().sum()

index            0
address          0
longitude        0
locality         0
store_code       0
staff_numbers    0
opening_date     0
store_type       0
latitude         0
country_code     0
continent        0
dtype: int64

In [291]:
#Remove new line from address and replace with commas
api_data['address'] = api_data['address'].str.replace('\n', ',')

In [292]:
api_data['locality'].value_counts()

locality
Chapletown       14
Belper           13
Bushey           12
Exeter           11
Arbroath         10
                 ..
Sicklerville      1
Brierley Hill     1
Searcy            1
Port Richmond     1
Westchester       1
Name: count, Length: 116, dtype: int64

In [293]:
#Store code looks good
print(api_data['store_code'])
pattern = r'^[A-Z]{2}-[0-9A-F]{8}$'
unmatched_strings = api_data[~api_data['store_code'].str.contains(pattern)]

0      HI-9B97EE4E
1      LA-0772C7B9
2      WE-1DE82CEE
3      BE-18074576
4      GA-CAD01AC2
          ...
444    CO-473A9FBB
445    KI-78096E8C
447    HI-EEA7AE62
448    BR-662EC74C
449    BA-B4AED588
Name: store_code, Length: 440, dtype: object

In [294]:
print(unmatched_strings)

Empty DataFrame
Columns: [index, address, longitude, locality, store_code, staff_numbers, opening_date, store_type, latitude, country_code, continent]
Index: []

In [295]:
# Opening date
date_check = api_data.copy()

In [296]:
date_check['opening_date']

0      1996-10-25
1      2013-04-12
2      2014-01-02
3      2019-09-09
4      1995-05-15
          ...
444    2008-06-08
445    2005-05-12
447    1998-05-14
448    2020-10-17
449    2001-05-12
Name: opening_date, Length: 440, dtype: object

In [306]:
date_check['opening_date'] = pd.to_datetime(date_check['opening_date'], format = 'mixed')

In [308]:
null_index = date_check.loc[date_check['opening_date'].isnull()].index

In [309]:
api_data.loc[null_index]['opening_date']

Series([], Name: opening_date, dtype: object)

In [307]:
date_check.loc[null_index]['opening_date']

9     2012-10-08
10    2015-07-14
93    2022-01-20
121   2020-02-01
142   2003-05-27
189   2016-11-25
205   2008-12-07
241   2006-10-04
291   2001-05-04
339   1994-11-24
368   2009-02-28
393   2015-03-02
Name: opening_date, dtype: datetime64[ns]

In [310]:
api_data['opening_date'] = pd.to_datetime(api_data['opening_date'], format = 'mixed')

In [311]:
api_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 449
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          440 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     440 non-null    object
 5   staff_numbers  440 non-null    object
 6   opening_date   440 non-null    datetime64[ns]
 7   store_type     440 non-null    object
 8   latitude       440 non-null    object
 9   country_code   440 non-null    object
 10  continent      440 non-null    object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 57.4+ KB

In [312]:
staff_number = api_data.copy()

In [325]:
#Throws error letters present
staff_number['staff_numbers'].astype(int)

0      34
1      92
2      69
3      35
4      36
       ..
444    94
445    61
447    33
448    35
449    36
Name: staff_numbers, Length: 440, dtype: int32

In [322]:
non_digit_records = staff_number[staff_number['staff_numbers'].str.contains(r'\D', regex=True)]
print(non_digit_records)

     index                                            address longitude  \
30      31  Flat 69,Suzanne walk,East Michelle,E80 8HS, Ea...  52.68333
178    179          Girschnerweg 163,93597 Angermünde, Dahlem   52.4581
247    248  7430 Howe Extensions Suite 299,Kellyside, WA 9...  39.71734
340    341  Studio 8,Lydia groves,North Hilarymouth,IV4 6E...  50.79205
374    375  Salzstraße 1/9,74209 Bad Freienwalde, Charlott...  52.53048

                locality   store_code staff_numbers opening_date   store_type  \
30          East Dereham  EA-24B31935           J78   2012-11-09       Outlet
178               Dahlem  DA-ACC520AE           30e   1994-03-07        Local
247         Sicklerville  SI-C489938D           80R   1994-02-28       Outlet
340             Southsea  SO-B5B9CB3B           A97   2018-05-08  Super Store
374  Charlottenburg-Nord  CH-99475026           3n9   1995-03-05        Local

      latitude country_code continent
30     0.93333           GB    Europe
178   13.28702           DE    Europe
247  -74.96933           US   America
340   -1.08593           GB    Europe
374   13.29371           DE    Europe

In [319]:
# didnt pick up that staff numbers had lettters
staff_number[staff_number['staff_numbers'].astype(str).str.len() > 3]

Empty DataFrame
Columns: [index, address, longitude, locality, store_code, staff_numbers, opening_date, store_type, latitude, country_code, continent]
Index: []

In [324]:
# Remove letters but keep the numbers in 
api_data['staff_numbers'] = api_data['staff_numbers'].replace(r'\D', '', regex=True)

In [326]:
api_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 449
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          440 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     440 non-null    object
 5   staff_numbers  440 non-null    object
 6   opening_date   440 non-null    datetime64[ns]
 7   store_type     440 non-null    object
 8   latitude       440 non-null    object
 9   country_code   440 non-null    object
 10  continent      440 non-null    object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 57.4+ KB

In [327]:
#Store type looks good
api_data['store_type'].value_counts()

store_type
Local          255
Super Store     89
Mall Kiosk      51
Outlet          45
Name: count, dtype: int64

In [328]:
255 + 89 +51 +45

440

In [334]:
api_data['latitude'].astype(float)

count          440
unique         116
top       -1.47217
freq            14
Name: latitude, dtype: object

In [353]:
api_data['longitude'].astype(float)

0      51.62907
1      48.52961
2      51.26000
3      53.02330
4      53.38333
         ...
444    50.76306
445    52.20000
447    51.62907
448    49.03685
449    50.64336
Name: longitude, Length: 440, dtype: float64

In [335]:
api_data['country_code'].value_counts()

country_code
GB    265
DE    141
US     34
Name: count, dtype: int64

In [336]:
api_data['country_code'].value_counts().sum()

440

In [340]:
api_data['continent'].value_counts()

continent
Europe     406
America     34
Name: count, dtype: int64

In [339]:
api_data['continent'] = api_data['continent'].str.replace('ee', '')

### Extracting S3 object using boto3

In [2]:
# Downloading S3 object using boto3
# import boto3
# s3 = boto3.client('s3')
# s3.download_file('data-handling-public','products.csv','D:/vs_ipynb/learning-material/multinational-retail/products.csv')

In [3]:
# import pandas as pd
# df_csv = pd.read_csv('products.csv',index_col = 0)

In [11]:
print(df_csv)

                                     product_name product_price  weight  \
0     FurReal Dazzlin' Dimples My Playful Dolphin        £39.99   1.6kg
1             Tiffany's World Day Out At The Park        £12.99  0.48kg
2             Tiffany's World Pups Picnic Playset         £7.00    590g
3        Tiffany's World Wildlife Park Adventures        £12.99    540g
4                         Cosatto Cosy Dolls Pram        £30.00  1.91kg
...                                           ...           ...     ...
1848    Goodmans Qi Autosense In Car Phone Holder        £15.00    125g
1849    Goodmans Qi Wireless Charging Phone Stand        £15.00    134g
1850                     RAC 12V Wet & Dry Vacuum        £18.00    820g
1851    Goodmans Qi Autosense In Car Phone Holder        £15.00    125g
1852               Beldray Telescopic Ladder 2.9m        £69.00   9.4kg

            category            EAN  date_added  \
0     toys-and-games  7425710935115  2005-12-02
1     toys-and-games   487128731892  2006-01-09
2     toys-and-games  1945816904649  1997-03-29
3     toys-and-games  1569790890899  2013-03-20
4     toys-and-games  7142740213920  2007-12-23
...              ...            ...         ...
1848             diy  8185827751600  2020-08-28
1849             diy  9769724533935  2012-05-20
1850             diy  3113855860327  1993-11-28
1851             diy  9195087467400  2016-09-20
1852             diy  8518402353072  2006-10-07

                                      uuid          removed product_code
0     83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1     712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2     b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3     d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4     7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a
...                                    ...              ...          ...
1848  3ff21cb1-8e90-499d-b5a0-6839fb83e70f  Still_avaliable  x4-2227164k
1849  a7910f74-c2b6-4144-98b7-30ca68f34d2d  Still_avaliable  i3-8338545Z
1850  66d3efa0-f480-4da9-893b-e8aaff53e27b  Still_avaliable  n4-1642658b
1851  efb472f1-8f00-448e-a874-9fa9812eeab5  Still_avaliable  A3-7619070S
1852  cfe701da-6493-4a7f-83cf-9aab1650f689  Still_avaliable  i6-2851854w

[1853 rows x 9 columns]

In [2]:
import boto3
from io import BytesIO
import pandas as pd

# Initialize Boto 3 S3 client
s3 = boto3.client('s3')

# Define the bucket and object key
bucket_name = 'data-handling-public'
object_key = 'products.csv'

# Read the file from S3
try:
    response = s3.get_object(Bucket=bucket_name, Key=object_key)
    # Access and read the content of the file. Data type = Bytes due to get request
    data = response['Body'].read()

    # Process the data as needed
    df = pd.read_csv(BytesIO(data), index_col = 0)  # Replace this with your processing logic

except Exception as e:
    print(f"Error: {e}")

In [1]:
# Example S3 path
s3_path = "s3://data-handling-public/products.csv"

# Separating bucket and object
if s3_path.startswith("s3://"):
    path_without_protocol = s3_path[len("s3://"):]
    bucket, obj = path_without_protocol.rsplit('/', 1)

    print("Bucket:", bucket)
    print("Object:", obj)
else:
    print("Invalid S3 path.")

Bucket: data-handling-public
Object: products.csv

In [4]:
print(df.head(15))

                                   product_name product_price   weight  \
0   FurReal Dazzlin' Dimples My Playful Dolphin        £39.99    1.6kg
1           Tiffany's World Day Out At The Park        £12.99   0.48kg
2           Tiffany's World Pups Picnic Playset         £7.00     590g
3      Tiffany's World Wildlife Park Adventures        £12.99     540g
4                       Cosatto Cosy Dolls Pram        £30.00   1.91kg
5                  Cocomelon Magnetic Scribbler        £12.99   0.91kg
6                       Peppa Pig House Felties         £7.00   0.46kg
7                     Paw Patrol Walkie Talkies        £12.99   0.38kg
8                   Peppa Pig 3D Walkie Talkies        £12.99   0.38kg
9          Disney Encanto Magical Casa Madrigal        £89.99  8.981kg
10                Disney Encanto Mirabel's Room        £24.99  1.478kg
11         Disney Encanto Isabela's Garden Room        £24.99     1.2g
12          Disney Encanto Antonio's Tree House        £24.99     1.2g
13                       Tie-Dye Slime Mega Set        £12.99   0.66kg
14                Paw Patrol Magnetic Scribbler        £12.99   0.91kg

          category            EAN  date_added  \
0   toys-and-games  7425710935115  2005-12-02
1   toys-and-games   487128731892  2006-01-09
2   toys-and-games  1945816904649  1997-03-29
3   toys-and-games  1569790890899  2013-03-20
4   toys-and-games  7142740213920  2007-12-23
5   toys-and-games  9022505507373  2007-02-07
6   toys-and-games  5997977455405  2009-01-24
7   toys-and-games    58555395171  2013-08-13
8   toys-and-games  9155372675699  2005-05-26
9   toys-and-games  2740880244498  2003-08-05
10  toys-and-games  9821316839389  2013-09-20
11  toys-and-games  9644535434254  2019-08-14
12  toys-and-games  2421335285067  2019-04-13
13  toys-and-games  9526390929079  2014-05-20
14  toys-and-games  7886193859037  2003-12-21

                                    uuid          removed product_code
0   83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1   712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2   b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3   d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4   7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a
5   cdd568e3-9657-412b-b3a6-52f6adff966b  Still_avaliable  g3-7974400s
6   58112753-a53f-4696-ab8a-7186c7e4a57e  Still_avaliable  U3-5148457q
7   797d133a-0989-4707-914d-7c043bcbbd86  Still_avaliable  q8-5387483Z
8   a6c23718-0e25-4419-8018-600c44e5e3df  Still_avaliable  i4-2651057I
9   2e78e9a4-2b77-4b59-95e5-d60ee01ef183  Still_avaliable  b6-6234052g
10  baa31d12-ad99-4442-b663-bd8a525c1c7a  Still_avaliable   g5-411324A
11  e36989b3-7371-40ea-80b8-c23ba1a6869f  Still_avaliable  S6-3678717g
12  d3ed56bc-533e-42fe-839a-ba880bda5714  Still_avaliable  Z2-0851042W
13  44d36b71-477e-44f9-8dbc-e771a1bfbc11          Removed  t5-7763922W
14  85610de0-f2b0-4613-9b51-343875197314  Still_avaliable  Z8-4148279f

In [30]:
# Check for null
df.info() # 4

<class 'pandas.core.frame.DataFrame'>
Index: 1853 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1849 non-null   object
 1   product_price  1849 non-null   object
 2   weight         1849 non-null   object
 3   category       1849 non-null   object
 4   EAN            1849 non-null   object
 5   date_added     1849 non-null   object
 6   uuid           1849 non-null   object
 7   removed        1849 non-null   object
 8   product_code   1849 non-null   object
dtypes: object(9)
memory usage: 144.8+ KB

In [54]:
# null_values = df[df.isnull().any(axis=1)].index
# df.drop(null_values)
df.dropna(inplace=True)

In [53]:
# Likely to be random generated data
df['category'].value_counts()

category
homeware              1138
toys-and-games         257
food-and-drink         250
pets                    93
sports-and-leisure      40
health-and-beauty       40
diy                     28
Name: count, dtype: int64

In [49]:
cat = df['category'].value_counts()
get_cat = cat[cat < 2].index.tolist()
df[df['category'].isin(get_cat)]

Empty DataFrame
Columns: [product_name, product_price, weight, category, EAN, date_added, uuid, removed, product_code]
Index: []

In [48]:
df = df[~df['category'].isin(get_cat)]
print(df['category'].value_counts())

category
homeware              1138
toys-and-games         257
food-and-drink         250
pets                    93
sports-and-leisure      40
health-and-beauty       40
diy                     28
Name: count, dtype: int64

In [36]:
# Find rows and columns containing '?'. Doesnt exist for once
question_mark_indices = df.map(lambda x: '?' in str(x)).any()
question_mark_rows = df[df.map(lambda x: '?' in str(x)).any(axis=1)].index

print("Columns with '?':")
print(question_mark_indices[question_mark_indices].index.tolist())
print("Rows with '?':")
print(question_mark_rows.tolist())

Columns with '?':
[]
Rows with '?':
[]

In [44]:
# null_values = df[df.isnull().any(axis=1)].index
# print(null_values)

Index([], dtype='int64')

In [55]:
df[['weight','units']] = df['weight'].str.extract('(\d*\.?\d+)(\D+)', expand=True)

In [51]:
df['units'].value_counts()

units
kg     954
g      853
 x      28
ml       9
g .      1
oz       1
Name: count, dtype: int64

In [70]:
df.loc[df.index[df['units'].str.contains('x', case=True, na=False)].tolist()]

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code,units
298,Pedigree Vital Protection Dog Food in Jelly 12...,£4.49,12,pets,2439834307647,1995-06-25,5ec5a431-7330-4d9e-bf3c-702fc85f6efe,Still_avaliable,d4-9698287C,x
299,Cesar Country Kitchen Dog Food 8 x 150g,£5.49,8,pets,5158002633117,1994-03-22,c379d810-61bf-4ed2-994c-0d3308d5be7b,Still_avaliable,M4-1688574Q,x
300,Pedigree Puppy Dog Food in Jelly 12pk,£4.49,12,pets,5242405808651,2014-05-20,40963728-bdae-48f1-beec-7c6dd0225921,Still_avaliable,J4-5517838n,x
301,Pedigree Dog Food in Gravy 12pk,£4.49,12,pets,6160542808008,2020-12-20,3109d9e8-56b5-4233-a682-0bcdb38182b0,Still_avaliable,v6-1209149g,x
302,Pedigree Dog Food in Jelly 12pk,£4.49,12,pets,3928398867180,2006-03-27,28625483-3723-4eaa-9f14-a1a16affbed8,Still_avaliable,C5-0179057G,x
303,Chappie Dog Food 6 x 412g,£5.99,6,pets,8155594260063,1993-06-30,6b86f83c-fccf-42eb-b1d5-3971915c18a5,Still_avaliable,Z4-535642u,x
304,Butcher's Puppy Meaty Chunks in Jelly Tins 6 x...,£4.35,6,pets,9386802556862,2019-06-16,a21e8202-de56-40bf-aee9-1b65989b1030,Still_avaliable,x0-3876046p,x
305,Pedigree Vital Protection Dog Food in Jelly 12...,£4.49,12,pets,6045981116269,1996-10-12,39ce65ab-d873-4953-a363-af9a705ca1ef,Still_avaliable,O3-6314460b,x
381,Sheba Classics Ocean Selection in Terrine 8 x 85g,£3.49,8,pets,5864355297349,2014-01-01,96f4d10f-1cb0-4898-b170-8dcd54c78f05,Still_avaliable,I3-7208040s,x
382,Classic Jumbo Pack Cat Food in Jelly 40 x 100g,£10.99,40,pets,3610175997493,2003-09-03,003e2c32-2d88-4ace-9d3c-97863fb62959,Still_avaliable,Y9-9993954b,x
383,Sheba Classics Ocean Selection in Terrine 12 x...,£4.29,12,pets,7913138139807,2006-12-10,e35ab52e-f5db-4e96-b8c0-a9393a5e33a8,Still_avaliable,s3-7992277H,x
384,Sheba Classics Ocean Selection in Terrine 8 x 85g,£3.49,8,pets,8297142436817,2015-04-29,9df3a039-6cbd-4160-aa45-5f482b236c69,Still_avaliable,m4-507493i,x
385,Classic Jumbo Pack Cat Food in Jelly 40 x 100g,£10.99,40,pets,4130594949815,2011-12-08,99cf7bf2-a611-4273-8aac-f426db6c863c,Still_avaliable,H5-5776855X,x
386,Sheba Classics Ocean Selection in Terrine 12 x...,£4.29,12,pets,7407445491692,1993-04-22,e4b978ae-fe4d-4118-a9f8-f8cbd8ff1c71,Still_avaliable,i3-7714502N,x
1562,Just Balmy 2D Wall's Lip Balm Set,£4.00,3,health-and-beauty,1151910730323,2006-07-30,6330007c-a70b-41b3-a048-fb38c258d169,Still_avaliable,R9-8669060I,x
1563,Just Balmy 2D Barratt Sweet Treats Lip Balm Set,£4.00,3,health-and-beauty,9828103898017,1997-03-11,68e38307-42c5-4e3f-a27f-f32d05f9a637,Still_avaliable,Z7-8693140R,x
1571,Palmolive Natural Soap - Moisture Care 3 x 90g,£1.00,3,health-and-beauty,1692944856882,1997-02-19,d109ec4d-6f3e-4520-b78a-b34a32fd8f1e,Still_avaliable,c8-1525632E,x
1668,Nescafe Dolce Gusto - Latte Machiato 16pk,£3.69,16,food-and-drink,8586844844403,2014-06-05,e3523dd6-8c02-46c4-848f-d7415776acb2,Still_avaliable,P4-7471291z,x
1669,Nescafe Dolce Gusto - Flat White 16pk,£3.69,16,food-and-drink,5015230815305,1992-12-29,ba73ad16-8998-4799-859d-88691a9c2d54,Still_avaliable,u3-6199715i,x
1676,Nescafe Dolce Gusto - Latte Machiato 16pk,£3.69,16,food-and-drink,8057338051145,2005-08-23,07aa6951-d029-46ed-8a63-12e3ba9db4b7,Removed,C4-9106468S,x
1677,Nescafe Dolce Gusto - Flat White 16pk,£3.69,16,food-and-drink,8490641014047,1997-11-09,554505a2-a18d-4d39-bebf-d81ccbff148f,Still_avaliable,C2-4933266o,x
1689,John West Pink Salmon in Brine 3 x 132g,£3.99,3,food-and-drink,9395762803091,2022-08-16,3d8e0941-109f-4c3e-bc16-3de9d200c132,Still_avaliable,W4-1094978l,x
1690,Ocean Fresh Tuna Chunks in Oil 5 x 145g,£3.39,5,food-and-drink,3487686391726,1995-02-06,883ff3f7-f6f4-427a-8c10-fe37e0bbf1ed,Still_avaliable,z3-5944487U,x
1692,Heinz Tomato Soup 4 x 400g,£3.39,4,food-and-drink,1685057010180,2020-10-10,d4d54e79-cd6d-4f4b-9bee-4058403299de,Removed,G8-4206489Y,x
1700,John West Pink Salmon in Brine 3 x 132g,£3.99,3,food-and-drink,4758183010205,2006-07-19,6f5b78f6-02cd-4ef1-ba53-678109bf9294,Still_avaliable,L5-106382J,x
1701,Ocean Fresh Tuna Chunks in Oil 5 x 145g,£3.39,5,food-and-drink,9444749850532,2001-05-04,d64a8810-431f-422d-a0b7-87265bfa702e,Still_avaliable,O2-1543849C,x
1727,Mrs Tilly's Festive Brandy Fudge 400g,£3.99,2,food-and-drink,2548181647709,2002-03-02,9d1dae52-2e77-4299-ac68-68e8e6c8b3e0,Still_avaliable,K8-1086936D,x
1752,Mrs Tilly's Festive Brandy Fudge 400g,£3.99,2,food-and-drink,4880675517869,2022-08-18,d88eedf9-3394-4382-a3d1-85767e5e4ff0,Still_avaliable,M5-8164943v,x

In [39]:
def transform_weight(row):
    weight, unit = row['weight'],row['units']
    if unit == 'kg':
        return weight
    elif unit == 'g'or unit == 'g .':
        return weight / 1000 
    elif unit == 'ml':
        return weight / 1000
    elif unit == 'oz':
        return weight * 0.0283495
    else:
        return 0

In [56]:
df['weight'] = df.apply(transform_weight,axis=1)

In [43]:
df['weight'] = (df['weight']).astype(float)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_18948\3355173983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weight'] = (df['weight']).astype(float)

In [44]:
print(df)

                                     product_name product_price  weight  \
0     FurReal Dazzlin' Dimples My Playful Dolphin        £39.99     0.0
1             Tiffany's World Day Out At The Park        £12.99     0.0
2             Tiffany's World Pups Picnic Playset         £7.00     0.0
3        Tiffany's World Wildlife Park Adventures        £12.99     0.0
4                         Cosatto Cosy Dolls Pram        £30.00     0.0
...                                           ...           ...     ...
1848    Goodmans Qi Autosense In Car Phone Holder        £15.00     0.0
1849    Goodmans Qi Wireless Charging Phone Stand        £15.00     0.0
1850                     RAC 12V Wet & Dry Vacuum        £18.00     0.0
1851    Goodmans Qi Autosense In Car Phone Holder        £15.00     0.0
1852               Beldray Telescopic Ladder 2.9m        £69.00     0.0

            category            EAN  date_added  \
0     toys-and-games  7425710935115  2005-12-02
1     toys-and-games   487128731892  2006-01-09
2     toys-and-games  1945816904649  1997-03-29
3     toys-and-games  1569790890899  2013-03-20
4     toys-and-games  7142740213920  2007-12-23
...              ...            ...         ...
1848             diy  8185827751600  2020-08-28
1849             diy  9769724533935  2012-05-20
1850             diy  3113855860327  1993-11-28
1851             diy  9195087467400  2016-09-20
1852             diy  8518402353072  2006-10-07

                                      uuid          removed product_code units
0     83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h     .
1     712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l     .
2     b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v   NaN
3     d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n   NaN
4     7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a     .
...                                    ...              ...          ...   ...
1848  3ff21cb1-8e90-499d-b5a0-6839fb83e70f  Still_avaliable  x4-2227164k   NaN
1849  a7910f74-c2b6-4144-98b7-30ca68f34d2d  Still_avaliable  i3-8338545Z   NaN
1850  66d3efa0-f480-4da9-893b-e8aaff53e27b  Still_avaliable  n4-1642658b   NaN
1851  efb472f1-8f00-448e-a874-9fa9812eeab5  Still_avaliable  A3-7619070S   NaN
1852  cfe701da-6493-4a7f-83cf-9aab1650f689  Still_avaliable  i6-2851854w     .

[1846 rows x 10 columns]

In [86]:
df.drop('units', axis=1, inplace = True)

In [96]:
# More NAs
null_rows = df[df.isnull().any(axis=1)].index
print(null_rows)

Index([751, 1133, 1400], dtype='int64')

In [100]:
df.iloc[[750, 1130, 1397]]

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
751,VLPCU81M30,XCD69KUI0K,0,NaN,OO7KH8P79I,CCAVRB79VV,7QB0Z9EW1G,T3QRRH7SRP,SDAV678FVD
1133,9SX4G65YUX,N9D2BZQX63,0,NaN,E8EOGWOY8S,09KREHTMWL,CP8XYQVGGU,BPSADIOQOK,BSDTR67VD90
1400,LB3D71C025,ODPMASE7V7,0,NaN,BHPF2JTNKQ,PEPWA0NCVH,VIBLHHVPMN,H5N71TV8AY,OPSD21HN67

In [101]:
df.drop(null_rows, axis = 0, inplace = True)

In [102]:
df['date_added'] = pd.to_datetime(df['date_added'], format = 'mixed')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   float64
 3   category       1846 non-null   object
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 144.2+ KB

In [106]:
df['removed'].value_counts()

removed
Still_avaliable    1752
Removed              94
Name: count, dtype: int64

In [109]:
df[~df['product_price'].str.contains('£', na=False)]

Empty DataFrame
Columns: [product_name, product_price, weight, category, EAN, date_added, uuid, removed, product_code]
Index: []

### Tidy order table

In [5]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector

connect = DatabaseConnector()
connect.read_db_creds()
connect.init_db_engine()
connect.list_db_tables()

extract = DataExtractor()
table = extract.read_rds_table(connect, 'orders_table')
print(table)

legacy_store_details
legacy_users
orders_table
        level_0   index                             date_uuid first_name  \
0             0       0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6       None
1             1       1  0423a395-a04d-4e4a-bd0f-d237cbd5a295       None
2             2       2  65187294-bb16-4519-adc0-787bbe423970       None
3             3       3  579e21f7-13cb-436b-83ad-33687a4eb337       None
4             4       4  00ab86c3-2039-4674-b9c1-adbcbbf525bd       None
...         ...     ...                                   ...        ...
120118   110549  110548  f0e8fff6-9998-4661-954b-0e258e09d33c       None
120119    82164   82164  1c80940a-d186-4ba9-9daa-8abd1aceae32       None
120120    97599   97599  58598aca-049c-418e-8e39-46327634a7f1     Sharon
120121   106591  106591  3a76f661-0707-4fbc-9862-f21d3249f581       None
120122   118806  118804  98fdc8b3-f619-4471-86b4-f44c26880166       None

       last_name                             user_uuid       card_number  \
0           None  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8    30060773296197
1           None  8fe96c3a-d62d-4eb5-b313-cf12d9126a49   349624180933183
2           None  fc461df4-b919-48b2-909e-55c95a03fe6b  3529023891650490
3           None  6104719f-ef14-4b09-bf04-fb0c4620acb0   213142929492281
4           None  9523a6d3-b2dd-4670-a51a-36aebc89f579      502067329974
...          ...                                   ...               ...
120118      None  95c74b0a-d495-4359-b1c0-e2da511e8403      575421945446
120119      None  5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f  4971858637664481
120120    Miller  48b7f1fc-db13-4611-ad8e-3dac0b759488  4971858637664481
120121      None  51c0b538-7ded-4697-8e84-9f7aa13f9112  4971858637664481
120122      None  e74907ca-1a4a-476c-a3ca-6b898b0964c2  4971858637664481

          store_code product_code   1  product_quantity
0        BL-8387506C  R7-3126933h NaN                 3
1       WEB-1388012W  C2-7287916l NaN                 2
2        CH-01D85C8D  S7-1175877v NaN                 2
3        CL-C183BE4B  D8-8421505n NaN                 2
4        SO-B5B9CB3B  B6-2596063a NaN                 2
...              ...          ...  ..               ...
120118   KA-FA7ED3B8  C9-6827622o NaN                 4
120119   WA-A41DA979  I0-1146408B NaN                 1
120120  WEB-1388012W  A4-5443400b NaN                 4
120121   SO-6D328417  E9-2782979e NaN                 4
120122   SO-6D328417  m0-0281207X NaN                 3

[120123 rows x 11 columns]

In [6]:
table.loc[table['card_number'] == 4971858637664481]

,level_0,index,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
182,149,149,7559e9a1-a844-47b5-91af-d1339d068fd0,None,None,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,NI-AB0FECD7,L7-4325310J,NaN,4
120062,31765,31765,a95d389d-c869-4f45-8177-8e6b22693daf,None,None,ab1091f6-e28a-4750-931b-b5707c5ab701,4971858637664481,VE-EE7A1F48,P0-4021587w,NaN,4
120063,37717,37717,0f8ff48c-0a74-4982-b002-45bdac0fd00f,None,None,4213c560-e4c2-4b80-8b7c-f64a447fb242,4971858637664481,KI-78096E8C,H7-3096678F,NaN,5
120077,43182,43181,0fe03a4d-d602-483a-a2b0-89e0e9ac186b,None,None,2e038121-c3f1-470a-aa31-710f4cedd639,4971858637664481,MI-20EE1BFA,A0-199587D,NaN,2
120078,44555,44555,47c0919b-a078-4dd7-b194-ac6923c00b0b,None,None,528f01e6-c0bb-41e1-a533-a87dd264708e,4971858637664481,GA-5957F561,K2-8569126h,NaN,6
120106,53055,53054,826fcd34-2886-493b-9f05-071c0c73bb8c,Lee,Thomas,a2ddc7d8-3434-4a3d-920f-17befdee38a3,4971858637664481,WEB-1388012W,V2-1615331d,NaN,4
120107,59862,59862,2e38823a-fbcb-4fc5-94bf-8457417c1d20,None,None,d48a254d-dd98-471e-a506-622f30774009,4971858637664481,WEB-1388012W,x6-9994287R,NaN,4
120108,66258,66257,ffcaae77-a983-41db-9ea1-65abb4036bc1,None,None,45447a05-97cf-42ac-b839-5f1416945e41,4971858637664481,HA-FC4E6AFF,c7-6364718G,NaN,1
120109,67926,67926,c9c2a9c7-3ef3-4c8b-8eab-01c5e531039e,None,None,4cac12fb-b8f2-46c5-874a-1df4f847c6a2,4971858637664481,VE-1050754E,k9-3755441k,NaN,5
120110,77538,77538,1f049481-3fa2-498b-8a60-66b60a71d376,Friedemann,Jüttner,2e5d948f-3a52-42c5-ab33-3a162208915b,4971858637664481,WEB-1388012W,o6-5976806E,NaN,2
120119,82164,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,None,None,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,NaN,1
120120,97599,97599,58598aca-049c-418e-8e39-46327634a7f1,Sharon,Miller,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,NaN,4
120121,106591,106591,3a76f661-0707-4fbc-9862-f21d3249f581,None,None,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,NaN,4
120122,118806,118804,98fdc8b3-f619-4471-86b4-f44c26880166,None,None,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,NaN,3

In [7]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120123 entries, 0 to 120122
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   level_0           120123 non-null  int64
 1   index             120123 non-null  int64
 2   date_uuid         120123 non-null  object
 3   first_name        15284 non-null   object
 4   last_name         15284 non-null   object
 5   user_uuid         120123 non-null  object
 6   card_number       120123 non-null  int64
 7   store_code        120123 non-null  object
 8   product_code      120123 non-null  object
 9   1                 0 non-null       float64
 10  product_quantity  120123 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 10.1+ MB

In [65]:
# drop first name, last name and 1
table.drop(['first_name','last_name','1'], axis =1, inplace = True)

In [67]:
table.drop(['level_0','index'], axis = 1, inplace= True)

In [68]:
table.head(5)

,date_uuid,user_uuid,card_number,store_code,product_code,product_quantity
0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,3
1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,2
2,65187294-bb16-4519-adc0-787bbe423970,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,2
3,579e21f7-13cb-436b-83ad-33687a4eb337,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,2
4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,2

In [70]:
table['product_quantity'].value_counts()

product_quantity
3     22497
1     22440
4     22385
2     22157
6      5067
5      5064
8      4926
7      4864
12     1549
14     1544
15     1542
13     1536
11     1523
9      1522
10     1507
Name: count, dtype: int64

In [6]:
from data_cleaning import DataCleaning
cleaning = DataCleaning(table)
cleaned = cleaning.clean_orders_data()

In [7]:
print(cleaned.head(5))

                              date_uuid                             user_uuid  \
0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  0423a395-a04d-4e4a-bd0f-d237cbd5a295  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  65187294-bb16-4519-adc0-787bbe423970  fc461df4-b919-48b2-909e-55c95a03fe6b
3  579e21f7-13cb-436b-83ad-33687a4eb337  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  00ab86c3-2039-4674-b9c1-adbcbbf525bd  9523a6d3-b2dd-4670-a51a-36aebc89f579

        card_number    store_code product_code  product_quantity
0    30060773296197   BL-8387506C  R7-3126933h                 3
1   349624180933183  WEB-1388012W  C2-7287916l                 2
2  3529023891650490   CH-01D85C8D  S7-1175877v                 2
3   213142929492281   CL-C183BE4B  D8-8421505n                 2
4      502067329974   SO-B5B9CB3B  B6-2596063a                 2

In [8]:
connect.upload_to_db(cleaned, 'orders_table')

### Extracting sales_date from S3

In [11]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector

connect = DatabaseConnector()
connect.read_db_creds()
connect.init_db_engine()
connect.list_db_tables()

extract = DataExtractor()
table = extract.extract_from_s3("s3://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json")
print(table)

legacy_store_details
legacy_users
orders_table
Error: An error occurred (NoSuchBucket) when calling the GetObject operation: The specified bucket does not exist
None

In [1]:
# Initialize Boto 3 S3 client
import boto3

s3 = boto3.client('s3')
# Read the file from S3
try:
    response = s3.get_object(Bucket="https://data-handling-public.s3.eu-west-1.amazonaws.com", Key="date_details.json")
    # Access and read the content of the file. Data type = Bytes due to get request
    data = response['Body'].read()

     # Process the data as needed
    df = pd.read_csv(BytesIO(data), index_col = 0)  # Replace this with your processing logic
    print(df)
        
except Exception as e:
    print(f"Error: {e}")

Error: Parameter validation failed:
Invalid bucket name "https://data-handling-public.s3.eu-west-1.amazonaws.com": Bucket name must match the regex "^[a-zA-Z0-9.\-_]{1,255}$" or be an ARN matching the regex "^arn:(aws).*:(s3|s3-object-lambda):[a-z\-0-9]*:[0-9]{12}:accesspoint[/:][a-zA-Z0-9\-.]{1,63}$|^arn:(aws).*:s3-outposts:[a-z\-0-9]+:[0-9]{12}:outpost[/:][a-zA-Z0-9\-]{1,63}[/:]accesspoint[/:][a-zA-Z0-9\-]{1,63}$"

In [2]:
import json
import requests
url = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    print(data)
else:
    print("Failed to retrieve data. Status code:", response.status_code)

KeyboardInterrupt:

In [6]:
import pandas as pd
dict_df = pd.DataFrame(data)

In [7]:
print(dict_df)

       timestamp month  year day time_period  \
0       22:00:06     9  2012  19     Evening
1       22:44:06     2  1997  10     Evening
2       10:05:37     4  1994  15     Morning
3       17:29:27    11  2001   6      Midday
4       22:40:33    12  2015  31     Evening
...          ...   ...   ...  ..         ...
120156  22:56:56    11  2022  12     Evening
120157  18:25:20     5  1997  31     Evening
120158  18:21:40     9  2011  13     Evening
120159  19:10:53     7  2013  12     Evening
120160  21:17:12     3  2008  18     Evening

                                   date_uuid
0       3b7ca996-37f9-433f-b6d0-ce8391b615ad
1       adc86836-6c35-49ca-bb0d-65b6507a00fa
2       5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3       1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4       dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...                                      ...
120156  d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157  f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158  4a3b9851-52e1-463c-ac81-1960f141444e
120159  64974909-0d4b-42a2-822a-73b5695e8bfb
120160  55c228c7-14ee-4d46-99a9-01dfc57d1adf

[120161 rows x 6 columns]

In [11]:
# Concatenate the columns and convert to date
dict_df['date'] = pd.to_datetime(dict_df['year'].astype(str) + '-' + dict_df['month'].astype(str) + '-' + dict_df['day'].astype(str) + ' ' + dict_df['timestamp'], format = 'mixed', errors = 'coerce')

In [13]:
dict_df.drop(['day','month','year','timestamp'], axis = 1, inplace = True)

In [14]:
dict_df.head(5)

  time_period                             date_uuid                date
0     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad 2012-09-19 22:00:06
1     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa 1997-02-10 22:44:06
2     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31 1994-04-15 10:05:37
3      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8 2001-11-06 17:29:27
4     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44 2015-12-31 22:40:33

In [29]:
null_df = dict_df.index[dict_df.isnull().any(axis=1)]

In [30]:
dict_df.loc[null_df]

Empty DataFrame
Columns: [time_period, date_uuid, date]
Index: []

In [28]:
dict_df.drop(null_df, inplace = True)

In [1]:
from data_extraction import DataExtractor

extract = DataExtractor()
get_json = extract.extract_json_s3('https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json')

In [2]:
get_json.head(5)

  timestamp month  year day time_period                             date_uuid
0  22:00:06     9  2012  19     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad
1  22:44:06     2  1997  10     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa
2  10:05:37     4  1994  15     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3  17:29:27    11  2001   6      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4  22:40:33    12  2015  31     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44

In [2]:
from data_cleaning import DataCleaning

clean = DataCleaning(get_json)
cleaned = clean.clean_json_s3()
print(cleaned.head(5))

  time_period                             date_uuid                date
0     Evening  3b7ca996-37f9-433f-b6d0-ce8391b615ad 2012-09-19 22:00:06
1     Evening  adc86836-6c35-49ca-bb0d-65b6507a00fa 1997-02-10 22:44:06
2     Morning  5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31 1994-04-15 10:05:37
3      Midday  1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8 2001-11-06 17:29:27
4     Evening  dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44 2015-12-31 22:40:33

In [3]:
from database_utils import DatabaseConnector

connect = DatabaseConnector()
upload = connect.upload_to_db(cleaned,"dim_date_times")