In [2]:
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
import pandas as pd
import numpy as np

db = DatabaseConnector()
table = DataExtractor()

In [3]:
df = table.read_rds_table(db, 'legacy_users')
df = df.drop('index',axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15320 non-null  object
 1   last_name      15320 non-null  object
 2   date_of_birth  15320 non-null  object
 3   company        15320 non-null  object
 4   email_address  15320 non-null  object
 5   address        15320 non-null  object
 6   country        15320 non-null  object
 7   country_code   15320 non-null  object
 8   phone_number   15320 non-null  object
 9   join_date      15320 non-null  object
 10  user_uuid      15320 non-null  object
dtypes: object(11)
memory usage: 1.3+ MB

In [5]:
df.head()

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15320 non-null  object
 1   last_name      15320 non-null  object
 2   date_of_birth  15320 non-null  object
 3   company        15320 non-null  object
 4   email_address  15320 non-null  object
 5   address        15320 non-null  object
 6   country        15320 non-null  object
 7   country_code   15320 non-null  object
 8   phone_number   15320 non-null  object
 9   join_date      15320 non-null  object
 10  user_uuid      15320 non-null  object
dtypes: object(11)
memory usage: 1.3+ MB
None

In [7]:
# First process the the date columns 
# Converting any date columns into the date format
import pandas as pd
from dateutil.parser import parse
for col in df.columns:  
    if 'date' in col:
        def try_parsing_date(text):
            try:
                return parse(text)
            except Exception:
                return pd.NaT
        
        df[col] = df[col].apply(try_parsing_date)
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [8]:
from datetime import datetime
# Calculate the current date
current_date = datetime.now()
# Subset the data to show individuals older than 70 years
subset_older_than_70 = df[current_date.year - df['date_of_birth'].dt.year > 80]
print(subset_older_than_70)

      first_name last_name date_of_birth                      company  \
1            Guy     Allen    1940-12-01                      Fox Ltd
21          Jörg  Hoffmann    1940-11-04                        Höfig
66        Olivia  Williams    1940-10-23  Sanderson, Singh and Wilson
77      Klaus-D.      Gute    1942-06-21        Conradi GmbH & Co. KG
84       Dominic    Potter    1940-01-19                 Powell-Carey
...          ...       ...           ...                          ...
15274       Joan      Reed    1942-10-24                    Frost PLC
15289    Stephen     Davis    1940-08-30    Graham, Fisher and Gibson
15292    Stephen      Ward    1940-07-22                  Smith-Brown
15308    Stephen    Hudson    1940-09-13                   Harris PLC
15317    Stephen  Losekann    1940-10-09                      Rosenow

                        email_address  \
1        rhodesclifford@henderson.com
21             zgehringer@beckmann.de
66         wilkinsjoseph@thomas.co.uk
77                  lutzsalz@mude.org
84     conor11@donnelly-middleton.biz
...                               ...
15274         katiesharpe@briggs.info
15289               s.davis@smith.com
15292                s.ward@smith.com
15308              s.hudson@smith.com
15317            s.losekann@smith.com

                                                 address         country  \
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
21        Marliese-Holzapfel-Gasse 767\n09198 Gardelegen         Germany
66     Studio 76E\nWilliams mountains\nEast Lyndaton\...  United Kingdom
77                              Wiekstr. 5\n29933 Apolda         Germany
84           719 Geoffrey gateway\nWest Hollie\nBN6V 5FF  United Kingdom
...                                                  ...             ...
15274    Studio 7\nHollie walks\nSouth Ryanberg\nM0C 6BG  United Kingdom
15289             758 Ellis Creek\nPort George, MP 93335   United States
15292             63 Jeffrey ridge\nCarolefort\nBL19 0JA  United Kingdom
15308      Studio 5\nDodd turnpike\nRobertston\nHS26 3ZG  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany

      country_code         phone_number  join_date  \
1               GB      (0161) 496 0674 2001-12-20
21              DE  +49 (0) 9914 457670 2006-02-04
66              GB        +441134960697 1997-06-13
77              DE    +49(0)0131 112091 2019-10-30
84              GB         +44292018370 2003-07-09
...            ...                  ...        ...
15274           GB     +44(0)1144960941 2011-01-25
15289           US  +1-946-020-6951x300 2021-10-27
15292           GB    +44(0)808 1570093 2016-05-16
15308           GB        0121 496 0182 1999-11-15
15317           DE          02984 08192 2021-03-07

                                  user_uuid
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
21     fbf6ce18-7838-40fc-9cf9-5c90e26b5b65
66     97d45030-5c09-4a38-afee-46825e865943
77     89ddaf29-629f-411f-a480-d70eab281efc
84     6fca961b-aae0-4d95-9eb9-c31494b05f2e
...                                     ...
15274  1c59bf6a-c725-4fc7-bd59-18f71ec7dcab
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b
15292  d7e8a2d7-5e66-4b22-a3ef-8a69fb5d036b
15308  d759d181-9b82-4062-88f1-6018a08afd11
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651

[1005 rows x 11 columns]

In [9]:
#Removing NA rows of data
#Further inspection show all NA rows in date_of_birth include non-null rows but are randomised.
nat_indexes = df.index[df['date_of_birth'].isna()].tolist()
print(nat_indexes)
na_list = df.iloc[nat_indexes]
print(na_list)

[752, 866, 1022, 1046, 1805, 2103, 2437, 2739, 2764, 2995, 3536, 4984, 5306, 5307, 6420, 6920, 7737, 8386, 9013, 10013, 10211, 10224, 10360, 10988, 11366, 11443, 11598, 11761, 11864, 12092, 12177, 12584, 13111, 13855, 14101, 14499]
       first_name   last_name date_of_birth     company email_address  \
752    PYCLKLLC7I  W350SCUD6R           NaT  R7IZUNSQX0    3Q791B3VIY
866          NULL        NULL           NaT        NULL          NULL
1022         NULL        NULL           NaT        NULL          NULL
1046   GI4C78KWH0  UTB5PPYFG8           NaT  CA1XGS8GZW    7HSZB429UK
1805         NULL        NULL           NaT        NULL          NULL
2103         NULL        NULL           NaT        NULL          NULL
2437         NULL        NULL           NaT        NULL          NULL
2739         NULL        NULL           NaT        NULL          NULL
2764         NULL        NULL           NaT        NULL          NULL
2995   DPAJNJL6PR  B8ZGN8ZJ84           NaT  0YJ2FRMDB4    O5Q6D7FDAF
3536   E5139W1FJ3  X88YLZX0JX           NaT  648S19YUFF    BYU3R2LQF8
4984         NULL        NULL           NaT        NULL          NULL
5306   XKDVQD7BH2  4YSEX8AY1Z           NaT  GKJZ58DTHT    789HWCYC7M
5307         NULL        NULL           NaT        NULL          NULL
6420   EI10BU4INS  SH6Y92V6IK           NaT  LNFBRXXUT4    TFEA83AAHP
6920         NULL        NULL           NaT        NULL          NULL
7737         NULL        NULL           NaT        NULL          NULL
8386   I7IJDAPMIM  LUNRZWUKRB           NaT  JXKOHA5B8F    JK2J6N4DLG
9013   TG6PAO2RAB  PIG6VAZUPM           NaT  ROL0IMK6UH    EIV7XWUJ8I
10013        NULL        NULL           NaT        NULL          NULL
10211  VCQL3ML6ZT  HULT86HONJ           NaT  QSS0MWBGFZ    1WNILGM5MK
10224        NULL        NULL           NaT        NULL          NULL
10360  G1SI2RM0KA  67VJEE6DS2           NaT  M4Z6M30SJ3    U1AZKY6URZ
10988        NULL        NULL           NaT        NULL          NULL
11366  31XQ1Z35J9  8LR57D7RZ0           NaT  66V9WU2HU1    XASHXWHN80
11443        NULL        NULL           NaT        NULL          NULL
11598        NULL        NULL           NaT        NULL          NULL
11761        NULL        NULL           NaT        NULL          NULL
11864        NULL        NULL           NaT        NULL          NULL
12092        NULL        NULL           NaT        NULL          NULL
12177  2GU3G97VI1  91RL47Q2WC           NaT  D4KULDKYME    YM2YGPR8W1
12584        NULL        NULL           NaT        NULL          NULL
13111  F3LGJ1NZ0I  IXWSZZ2VPN           NaT  9WSM9X17XK    M5ZDMLPP45
13855        NULL        NULL           NaT        NULL          NULL
14101  DD0K0FUDRY  Q9U9JNG44F           NaT  DJXWS4B52O    X29OBIYMTI
14499  YWM71XYN17  PYC56FDP4V           NaT  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number join_date   user_uuid
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I       NaT  W43MSCMQ88
866          NULL        NULL         NULL         NULL       NaT        NULL
1022         NULL        NULL         NULL         NULL       NaT        NULL
1046   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO       NaT  BUE34OU973
1805         NULL        NULL         NULL         NULL       NaT        NULL
2103         NULL        NULL         NULL         NULL       NaT        NULL
2437         NULL        NULL         NULL         NULL       NaT        NULL
2739         NULL        NULL         NULL         NULL       NaT        NULL
2764         NULL        NULL         NULL         NULL       NaT        NULL
2995   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E       NaT  56URKLG01W
3536   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A       NaT  A1W2TVMK1S
4984         NULL        NULL         NULL         NULL       NaT        NULL
5306   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY       NaT  LNRNI6X6VL
5307         NULL        NULL         NULL         NULL       NaT        NULL
6420   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL       NaT  23WTQ63AET
6920         NULL        NULL         NULL         NULL       NaT        NULL
7737         NULL        NULL         NULL         NULL       NaT        NULL
8386   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3       NaT  8FB8XB78NQ
9013   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2       NaT  HEGG0N3ICG
10013        NULL        NULL         NULL         NULL       NaT        NULL
10211  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA       NaT  AKXDQ62K1V
10224        NULL        NULL         NULL         NULL       NaT        NULL
10360  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP       NaT  7JTCX4UVLK
10988        NULL        NULL         NULL         NULL       NaT        NULL
11366  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK       NaT  C7N3K5VF9U
11443        NULL        NULL         NULL         NULL       NaT        NULL
11598        NULL        NULL         NULL         NULL       NaT        NULL
11761        NULL        NULL         NULL         NULL       NaT        NULL
11864        NULL        NULL         NULL         NULL       NaT        NULL
12092        NULL        NULL         NULL         NULL       NaT        NULL
12177  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU       NaT  YIBFXQLD4A
12584        NULL        NULL         NULL         NULL       NaT        NULL
13111  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE       NaT  55II6WK8D2
13855        NULL        NULL         NULL         NULL       NaT        NULL
14101  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6       NaT  1YOGCW4V46
14499  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH       NaT  7PYPXC0PPN

In [10]:
# Double checking if the parse and to_datetime function worked on dates that had string e.g. October 
# Anti join show na_list removes the randomised and unparsable dates and leaves the good ones in
result = df[df['date_of_birth'].astype(str).str.contains('[A-Za-z]', regex=True, na=False)]
anti_join_df = result.merge(na_list, left_index=True, right_index=True, how='left', indicator=True)
anti_join_result = anti_join_df[anti_join_df['_merge'] == 'left_only']
print(result)
print(anti_join_result)

       first_name   last_name date_of_birth     company email_address  \
752    PYCLKLLC7I  W350SCUD6R           NaT  R7IZUNSQX0    3Q791B3VIY
866          NULL        NULL           NaT        NULL          NULL
1022         NULL        NULL           NaT        NULL          NULL
1046   GI4C78KWH0  UTB5PPYFG8           NaT  CA1XGS8GZW    7HSZB429UK
1805         NULL        NULL           NaT        NULL          NULL
2103         NULL        NULL           NaT        NULL          NULL
2437         NULL        NULL           NaT        NULL          NULL
2739         NULL        NULL           NaT        NULL          NULL
2764         NULL        NULL           NaT        NULL          NULL
2995   DPAJNJL6PR  B8ZGN8ZJ84           NaT  0YJ2FRMDB4    O5Q6D7FDAF
3536   E5139W1FJ3  X88YLZX0JX           NaT  648S19YUFF    BYU3R2LQF8
4984         NULL        NULL           NaT        NULL          NULL
5306   XKDVQD7BH2  4YSEX8AY1Z           NaT  GKJZ58DTHT    789HWCYC7M
5307         NULL        NULL           NaT        NULL          NULL
6420   EI10BU4INS  SH6Y92V6IK           NaT  LNFBRXXUT4    TFEA83AAHP
6920         NULL        NULL           NaT        NULL          NULL
7737         NULL        NULL           NaT        NULL          NULL
8386   I7IJDAPMIM  LUNRZWUKRB           NaT  JXKOHA5B8F    JK2J6N4DLG
9013   TG6PAO2RAB  PIG6VAZUPM           NaT  ROL0IMK6UH    EIV7XWUJ8I
10013        NULL        NULL           NaT        NULL          NULL
10211  VCQL3ML6ZT  HULT86HONJ           NaT  QSS0MWBGFZ    1WNILGM5MK
10224        NULL        NULL           NaT        NULL          NULL
10360  G1SI2RM0KA  67VJEE6DS2           NaT  M4Z6M30SJ3    U1AZKY6URZ
10988        NULL        NULL           NaT        NULL          NULL
11366  31XQ1Z35J9  8LR57D7RZ0           NaT  66V9WU2HU1    XASHXWHN80
11443        NULL        NULL           NaT        NULL          NULL
11598        NULL        NULL           NaT        NULL          NULL
11761        NULL        NULL           NaT        NULL          NULL
11864        NULL        NULL           NaT        NULL          NULL
12092        NULL        NULL           NaT        NULL          NULL
12177  2GU3G97VI1  91RL47Q2WC           NaT  D4KULDKYME    YM2YGPR8W1
12584        NULL        NULL           NaT        NULL          NULL
13111  F3LGJ1NZ0I  IXWSZZ2VPN           NaT  9WSM9X17XK    M5ZDMLPP45
13855        NULL        NULL           NaT        NULL          NULL
14101  DD0K0FUDRY  Q9U9JNG44F           NaT  DJXWS4B52O    X29OBIYMTI
14499  YWM71XYN17  PYC56FDP4V           NaT  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number join_date   user_uuid
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I       NaT  W43MSCMQ88
866          NULL        NULL         NULL         NULL       NaT        NULL
1022         NULL        NULL         NULL         NULL       NaT        NULL
1046   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO       NaT  BUE34OU973
1805         NULL        NULL         NULL         NULL       NaT        NULL
2103         NULL        NULL         NULL         NULL       NaT        NULL
2437         NULL        NULL         NULL         NULL       NaT        NULL
2739         NULL        NULL         NULL         NULL       NaT        NULL
2764         NULL        NULL         NULL         NULL       NaT        NULL
2995   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E       NaT  56URKLG01W
3536   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A       NaT  A1W2TVMK1S
4984         NULL        NULL         NULL         NULL       NaT        NULL
5306   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY       NaT  LNRNI6X6VL
5307         NULL        NULL         NULL         NULL       NaT        NULL
6420   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL       NaT  23WTQ63AET
6920         NULL        NULL         NULL         NULL       NaT        NULL
7737         NULL        NULL         NULL         NULL       NaT        NULL
8386   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3       NaT  8FB8XB78NQ
9013   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2       NaT  HEGG0N3ICG
10013        NULL        NULL         NULL         NULL       NaT        NULL
10211  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA       NaT  AKXDQ62K1V
10224        NULL        NULL         NULL         NULL       NaT        NULL
10360  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP       NaT  7JTCX4UVLK
10988        NULL        NULL         NULL         NULL       NaT        NULL
11366  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK       NaT  C7N3K5VF9U
11443        NULL        NULL         NULL         NULL       NaT        NULL
11598        NULL        NULL         NULL         NULL       NaT        NULL
11761        NULL        NULL         NULL         NULL       NaT        NULL
11864        NULL        NULL         NULL         NULL       NaT        NULL
12092        NULL        NULL         NULL         NULL       NaT        NULL
12177  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU       NaT  YIBFXQLD4A
12584        NULL        NULL         NULL         NULL       NaT        NULL
13111  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE       NaT  55II6WK8D2
13855        NULL        NULL         NULL         NULL       NaT        NULL
14101  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6       NaT  1YOGCW4V46
14499  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH       NaT  7PYPXC0PPN
Empty DataFrame
Columns: [first_name_x, last_name_x, date_of_birth_x, company_x, email_address_x, address_x, country_x, country_code_x, phone_number_x, join_date_x, user_uuid_x, first_name_y, last_name_y, date_of_birth_y, company_y, email_address_y, address_y, country_y, country_code_y, phone_number_y, join_date_y, user_uuid_y, _merge]
Index: []

[0 rows x 23 columns]

In [11]:
# So to conclude, all nulls in date of birth removed, this also removes randomised records of data
df = df.drop(nat_indexes)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   15284 non-null  object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.4+ MB

In [13]:
# This shows no NA values are left. Following scripts would be to look for and handle incorrect data
na_counts = df.isna().sum()
print(na_counts)

first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

In [14]:
# Next fix the phone numbers
# The below processing of US, UK and Germany has been combined into this single cell
us_indexes = df[df['country'] == "United States"].index
other_indexes = df[df['country'] != "United States"].index

df.loc[us_indexes, 'phone_number'] = df.loc[us_indexes, 'phone_number'].str.replace(r'(\+\d{1}|x\d+|001-|[\.\-\(\)])', '', regex=True)
df.loc[us_indexes, 'phone_number'] = df.loc[us_indexes, 'phone_number'].apply(lambda x: np.nan if len(str(x)) != 11 else x)

df.loc[other_indexes, 'phone_number'] = df.loc[other_indexes, 'phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]', '', regex=True)
df.loc[other_indexes, 'phone_number'] = df.loc[other_indexes, 'phone_number'].apply(lambda x: np.nan if len(str(x)) != 11 else x)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   9089 non-null   object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.9+ MB

In [16]:
#Review country_code
df['country_code'].value_counts()

country_code
GB     9365
DE     4708
US     1205
GGB       6
Name: count, dtype: int64

In [17]:
df.loc[df['country_code'] == "GGB", 'country_code'] = "GB"

In [18]:
# Next country - all good
df['country'].value_counts()

country
United Kingdom    9371
Germany           4708
United States     1205
Name: count, dtype: int64

In [19]:
# assumption that the address column is correct, could separate postcode and cross-reference on google maps
print(df['address'][0])

Zimmerstr. 1/0
59015 Gießen

In [20]:
# Remove the new line and replace with comma
df['address'] = df['address'].str.replace('\n', ',')
print(df['address'])

0                             Zimmerstr. 1/0,59015 Gießen
1          Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH
2                        92 Ann drive,Joanborough,SK0 6LR
3                    19 Robinson meadow,New Tracy,W22 2QG
4                     3 White pass,Hunterborough,NN96 4UE
                               ...
15315         Studio 41I,Jones lodge,Oliviaborough,E8 3DU
15316                 530 Young parkway,Millsfurt,L4G 7NX
15317    Viviane-Fritsch-Straße 3/5,15064 Bad Liebenwerda
15318     660 Ross Falls Suite 357,Anthonymouth, MA 09610
15319         Studio 4,Hancock road,Phillipsview,ST1X 3XB
Name: address, Length: 15284, dtype: object

In [21]:
#All email addresses follow a consistent pattern
df['email_address'].str.contains('@.*\.', regex=True).value_counts()

email_address
True    15284
Name: count, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  object
 7   country_code   15284 non-null  object
 8   phone_number   9089 non-null   object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 1.9+ MB

In [23]:

print(df['first_name'].str.contains(r'\d', regex=True).value_counts())
print(df['last_name'].str.contains(r'\d', regex=True).value_counts())
print(df['company'].str.contains(r'\d', regex=True).value_counts())

first_name
False    15284
Name: count, dtype: int64
last_name
False    15284
Name: count, dtype: int64
company
False    15284
Name: count, dtype: int64

In [24]:
df['first_name'].value_counts()

first_name
Michael       57
Amanda        52
Peter         51
Jennifer      50
Andrew        50
              ..
Kristopher     1
Guido          1
Darlene        1
Adem           1
Athanasios     1
Name: count, Length: 2162, dtype: int64

In [25]:
#Below was the analysis of numbers from different countries

In [26]:
# Next fix the phone numbers
df['country'].value_counts()

country
United Kingdom    9371
Germany           4708
United States     1205
Name: count, dtype: int64

In [27]:
#

In [28]:
#10 digits
us = df[df['country'] == 'United States']
print(us)
print(us.info())

      first_name last_name date_of_birth                        company  \
5          David    Torres    1949-08-12                   Yang-Stewart
9          Emily     Jones    1992-10-09                Serrano-Leblanc
16        Sierra   Spencer    1988-11-02       Watson, Davis and Cooper
27         Bryan   Nielsen    1979-07-29                    Drake-Clark
35       Melissa    Garcia    1946-06-30  Nelson, Williams and Martinez
...          ...       ...           ...                            ...
15275     George      Cook    1974-01-10                     Miller LLC
15289    Stephen     Davis    1940-08-30      Graham, Fisher and Gibson
15301    Stephen  Gonzales    2006-04-17                    Marquez Ltd
15311    Stephen  Alvarado    2006-07-27                  Wallace-Smith
15318    Stephen    Rivera    1952-06-04          Taylor, Fry and Jones

                       email_address  \
5              mwilliams@nichols.org
9                 toni24@carlson.com
16              justin43@arnold.info
27              julie41@jennings.com
35     alvarezstacy@green-stokes.com
...                              ...
15275          paulhall@johnston.biz
15289              s.davis@smith.com
15301           s.gonzales@smith.com
15311           s.alvarado@smith.com
15318             s.rivera@smith.com

                                                 address        country  \
5          49226 Edwards Mountains,North Sarah, DE 69608  United States
9      012 Andrea Circle Suite 129,Josephmouth, AS 22237  United States
16             05559 Vincent Parkway,Sarahstad, ND 91029  United States
27        0146 Mathis Extension,West Marymouth, WY 18605  United States
35                9288 Patrick Inlet,Jamesfort, CO 48309  United States
...                                                  ...            ...
15275    30109 Shawn Club Suite 503,West Emily, IL 35382  United States
15289              758 Ellis Creek,Port George, MP 93335  United States
15301  530 Mary Hills Suite 652,East Lauriemouth, MT ...  United States
15311          9197 Smith Island,Port Benjamin, ND 32656  United States
15318    660 Ross Falls Suite 357,Anthonymouth, MA 09610  United States

      country_code phone_number  join_date  \
5               US          NaN 2002-01-21
9               US          NaN 1998-05-15
16              US          NaN 2007-03-20
27              US          NaN 2001-09-23
35              US          NaN 2007-01-05
...            ...          ...        ...
15275           US          NaN 2022-02-21
15289           US          NaN 2021-10-27
15301           US          NaN 2011-08-13
15311           US          NaN 2000-07-01
15318           US          NaN 2011-01-03

                                  user_uuid
5      53d21f46-1fa4-452f-a023-26aee2aae4d6
9      caffe463-4918-4f45-a37d-856dc0f15884
16     7c8dc654-3994-40b1-a4a2-e55dc7081fe0
27     e4aae45c-d605-4457-860d-8a460a0a1d69
35     ee0c5f80-2a18-42df-ad88-e898de71dd50
...                                     ...
15275  e397eb0c-7007-4193-be95-76e55743bf89
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b
15301  68d5933d-8815-48f6-8bd1-7820ed73391a
15311  cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572

[1205 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 5 to 15318
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     1205 non-null   object
 1   last_name      1205 non-null   object
 2   date_of_birth  1205 non-null   datetime64[ns]
 3   company        1205 non-null   object
 4   email_address  1205 non-null   object
 5   address        1205 non-null   object
 6   country        1205 non-null   object
 7   country_code   1205 non-null   object
 8   phone_number   0 non-null      object
 9   join_date      1205 non-null   datetime64[ns]
 10  user_uuid      1205 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 113.0+ KB
None

In [29]:
# For the USA, typically follow XXX-XXX-XXXX pattern
us.loc[:,'phone_number'] = us['phone_number'].str.replace(r'(\+\d{1}|x\d+|001-|[\.\-\(\)])','',regex=True)
us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10
print(us['valid_phone'].value_counts())
print(us)

valid_phone
False    1205
Name: count, dtype: int64
      first_name last_name date_of_birth                        company  \
5          David    Torres    1949-08-12                   Yang-Stewart
9          Emily     Jones    1992-10-09                Serrano-Leblanc
16        Sierra   Spencer    1988-11-02       Watson, Davis and Cooper
27         Bryan   Nielsen    1979-07-29                    Drake-Clark
35       Melissa    Garcia    1946-06-30  Nelson, Williams and Martinez
...          ...       ...           ...                            ...
15275     George      Cook    1974-01-10                     Miller LLC
15289    Stephen     Davis    1940-08-30      Graham, Fisher and Gibson
15301    Stephen  Gonzales    2006-04-17                    Marquez Ltd
15311    Stephen  Alvarado    2006-07-27                  Wallace-Smith
15318    Stephen    Rivera    1952-06-04          Taylor, Fry and Jones

                       email_address  \
5              mwilliams@nichols.org
9                 toni24@carlson.com
16              justin43@arnold.info
27              julie41@jennings.com
35     alvarezstacy@green-stokes.com
...                              ...
15275          paulhall@johnston.biz
15289              s.davis@smith.com
15301           s.gonzales@smith.com
15311           s.alvarado@smith.com
15318             s.rivera@smith.com

                                                 address        country  \
5          49226 Edwards Mountains,North Sarah, DE 69608  United States
9      012 Andrea Circle Suite 129,Josephmouth, AS 22237  United States
16             05559 Vincent Parkway,Sarahstad, ND 91029  United States
27        0146 Mathis Extension,West Marymouth, WY 18605  United States
35                9288 Patrick Inlet,Jamesfort, CO 48309  United States
...                                                  ...            ...
15275    30109 Shawn Club Suite 503,West Emily, IL 35382  United States
15289              758 Ellis Creek,Port George, MP 93335  United States
15301  530 Mary Hills Suite 652,East Lauriemouth, MT ...  United States
15311          9197 Smith Island,Port Benjamin, ND 32656  United States
15318    660 Ross Falls Suite 357,Anthonymouth, MA 09610  United States

      country_code phone_number  join_date  \
5               US          NaN 2002-01-21
9               US          NaN 1998-05-15
16              US          NaN 2007-03-20
27              US          NaN 2001-09-23
35              US          NaN 2007-01-05
...            ...          ...        ...
15275           US          NaN 2022-02-21
15289           US          NaN 2021-10-27
15301           US          NaN 2011-08-13
15311           US          NaN 2000-07-01
15318           US          NaN 2011-01-03

                                  user_uuid  valid_phone
5      53d21f46-1fa4-452f-a023-26aee2aae4d6        False
9      caffe463-4918-4f45-a37d-856dc0f15884        False
16     7c8dc654-3994-40b1-a4a2-e55dc7081fe0        False
27     e4aae45c-d605-4457-860d-8a460a0a1d69        False
35     ee0c5f80-2a18-42df-ad88-e898de71dd50        False
...                                     ...          ...
15275  e397eb0c-7007-4193-be95-76e55743bf89        False
15289  5f213aff-cd45-498c-ae2b-5a3cb940c05b        False
15301  68d5933d-8815-48f6-8bd1-7820ed73391a        False
15311  cbfb7add-74d6-455f-926d-2fe6cc0d10c2        False
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572        False

[1205 rows x 12 columns]

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\3246566554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10

In [30]:
#Error check - ensure all numbers have exactly 10 digits
us.loc[:,'valid_phone'] = us['phone_number'].str.len() == 10
print(us['valid_phone'].value_counts())

valid_phone
False    1205
Name: count, dtype: int64

In [31]:
#Germany have 11 digits
germany = df[df['country'] == "Germany"]
print(germany.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4708 entries, 0 to 15317
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     4708 non-null   object
 1   last_name      4708 non-null   object
 2   date_of_birth  4708 non-null   datetime64[ns]
 3   company        4708 non-null   object
 4   email_address  4708 non-null   object
 5   address        4708 non-null   object
 6   country        4708 non-null   object
 7   country_code   4708 non-null   object
 8   phone_number   2615 non-null   object
 9   join_date      4708 non-null   datetime64[ns]
 10  user_uuid      4708 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 441.4+ KB
None

In [32]:
# Some german numbers are 10 digits. Replace with NaN
germany.loc[:,'phone_number'] = germany['phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]','', regex= True)

In [33]:
#Error check - ensure all numbers have exactly 10 digits
germany.loc[:,'valid_phone'] = germany['phone_number'].str.len() == 11
germany.loc[~germany['phone_number'].apply(lambda x: len(str(x)) == 11), 'phone_number'] = np.nan
print(germany['valid_phone'].value_counts())

valid_phone
True     2615
False    2093
Name: count, dtype: int64

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\787672041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany.loc[:,'valid_phone'] = germany['phone_number'].str.len() == 11

In [34]:
#Lastly the UK
uk = df[df['country'] == "United Kingdom"]
print(uk)

      first_name last_name date_of_birth                       company  \
1            Guy     Allen    1940-12-01                       Fox Ltd
2          Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3         Darren   Hussain    1972-09-23                   Wheeler LLC
4          Garry     Stone    1952-12-20                    Warner Inc
6           Anne    Morris    1952-11-10                Hutchinson Inc
...          ...       ...           ...                           ...
15313    Stephen    Barker    1981-05-01             Marshall-Campbell
15314    Stephen       Fox    1961-04-24             Williams-Phillips
15315    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316    Stephen     Smith    1948-08-20               Robinson-Harris
15319    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
6         nhudson@taylor-horton.com
...                             ...
15313            s.barker@smith.com
15314               s.fox@smith.com
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15319            s.duncan@smith.com

                                              address         country  \
1      Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH  United Kingdom
2                    92 Ann drive,Joanborough,SK0 6LR  United Kingdom
3                19 Robinson meadow,New Tracy,W22 2QG  United Kingdom
4                 3 White pass,Hunterborough,NN96 4UE  United Kingdom
6                    33 Shaun locks,Morganland,G8 9YP  United Kingdom
...                                               ...             ...
15313         857 Ross parkways,Mitchellville,CR3 0QQ  United Kingdom
15314     Flat 89,Hutchinson pines,Clarkeview,M7U 1DY  United Kingdom
15315     Studio 41I,Jones lodge,Oliviaborough,E8 3DU  United Kingdom
15316             530 Young parkway,Millsfurt,L4G 7NX  United Kingdom
15319     Studio 4,Hancock road,Phillipsview,ST1X 3XB  United Kingdom

      country_code phone_number  join_date  \
1               GB  01614960674 2001-12-20
2               GB  01214960340 2016-12-16
3               GB  03069990871 2004-02-23
4               GB  01214960225 2006-09-01
6               GB          NaN 2004-06-23
...            ...          ...        ...
15313           GB  01414960548 2014-10-09
15314           GB  01174960015 2007-10-25
15315           GB          NaN 2016-04-15
15316           GB  01144960977 2020-07-20
15319           GB  01314960870 2015-08-28

                                  user_uuid
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
6      e2066a2c-8cd3-46ad-b2ea-e2445d5d9335
...                                     ...
15313  b8540c97-2c5d-4b79-b955-c0fd998819e7
15314  0ad69cd5-ebda-4d22-b6d8-963424261ddf
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[9371 rows x 11 columns]

In [35]:
uk.loc[:,'phone_number'] = uk['phone_number'].str.replace(r'(\+\d{2})|\s+|[(|)]','', regex= True)
uk.loc[:,'valid_phone'] = uk['phone_number'].str.len() == 11
print(uk['valid_phone'].value_counts())

valid_phone
True     6474
False    2897
Name: count, dtype: int64

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\1538497412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk.loc[:,'valid_phone'] = uk['phone_number'].str.len() == 11

In [36]:
uk.loc[~uk['phone_number'].apply(lambda x: len(str(x)) == 11), 'phone_number'] = np.nan
print(uk)

      first_name last_name date_of_birth                       company  \
1            Guy     Allen    1940-12-01                       Fox Ltd
2          Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3         Darren   Hussain    1972-09-23                   Wheeler LLC
4          Garry     Stone    1952-12-20                    Warner Inc
6           Anne    Morris    1952-11-10                Hutchinson Inc
...          ...       ...           ...                           ...
15313    Stephen    Barker    1981-05-01             Marshall-Campbell
15314    Stephen       Fox    1961-04-24             Williams-Phillips
15315    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316    Stephen     Smith    1948-08-20               Robinson-Harris
15319    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
6         nhudson@taylor-horton.com
...                             ...
15313            s.barker@smith.com
15314               s.fox@smith.com
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15319            s.duncan@smith.com

                                              address         country  \
1      Studio 22a,Lynne terrace,McCarthymouth,TF0 9GH  United Kingdom
2                    92 Ann drive,Joanborough,SK0 6LR  United Kingdom
3                19 Robinson meadow,New Tracy,W22 2QG  United Kingdom
4                 3 White pass,Hunterborough,NN96 4UE  United Kingdom
6                    33 Shaun locks,Morganland,G8 9YP  United Kingdom
...                                               ...             ...
15313         857 Ross parkways,Mitchellville,CR3 0QQ  United Kingdom
15314     Flat 89,Hutchinson pines,Clarkeview,M7U 1DY  United Kingdom
15315     Studio 41I,Jones lodge,Oliviaborough,E8 3DU  United Kingdom
15316             530 Young parkway,Millsfurt,L4G 7NX  United Kingdom
15319     Studio 4,Hancock road,Phillipsview,ST1X 3XB  United Kingdom

      country_code phone_number  join_date  \
1               GB  01614960674 2001-12-20
2               GB  01214960340 2016-12-16
3               GB  03069990871 2004-02-23
4               GB  01214960225 2006-09-01
6               GB          NaN 2004-06-23
...            ...          ...        ...
15313           GB  01414960548 2014-10-09
15314           GB  01174960015 2007-10-25
15315           GB          NaN 2016-04-15
15316           GB  01144960977 2020-07-20
15319           GB  01314960870 2015-08-28

                                  user_uuid  valid_phone
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49         True
2      fc461df4-b919-48b2-909e-55c95a03fe6b         True
3      6104719f-ef14-4b09-bf04-fb0c4620acb0         True
4      9523a6d3-b2dd-4670-a51a-36aebc89f579         True
6      e2066a2c-8cd3-46ad-b2ea-e2445d5d9335        False
...                                     ...          ...
15313  b8540c97-2c5d-4b79-b955-c0fd998819e7         True
15314  0ad69cd5-ebda-4d22-b6d8-963424261ddf         True
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302        False
15316  d234c04b-c07c-46a5-a902-526f91478ecc         True
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1         True

[9371 rows x 12 columns]

In [37]:
#Data cleaning of card details

In [38]:
import tabula

In [39]:
pdf = tabula.read_pdf('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf', pages = 'all')

In [40]:
len(pdf)

279

In [41]:
import pandas as pd
pdf2 = pd.concat(pdf, ignore_index = True)
print(pdf2.head(5))
print(type(pdf2))

        card_number expiry_date                card_provider  \
0    30060773296197       09/26  Diners Club / Carte Blanche
1   349624180933183       10/23             American Express
2  3529023891650490       06/23                 JCB 16 digit
3   213142929492281       09/27                 JCB 15 digit
4      502067329974       10/25                      Maestro

  date_payment_confirmed
0             2015-11-25
1             2001-06-18
2             2000-12-26
3             2011-02-12
4             1997-03-13
<class 'pandas.core.frame.DataFrame'>

In [42]:
# Now in dataframe format
print(pdf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB
None

In [43]:
card_names = pdf2['card_provider'].value_counts()
get_card_names = card_names[card_names > 1000].index.tolist()
print(get_card_names)

['VISA 16 digit', 'JCB 16 digit', 'VISA 13 digit', 'JCB 15 digit', 'VISA 19 digit', 'Diners Club / Carte Blanche', 'American Express', 'Maestro', 'Discover', 'Mastercard']

In [44]:
#All the dodgy cards have dodgy data, so remove
checking_dodgy_cards = pdf2[~pdf2['card_provider'].isin(get_card_names)]
print(checking_dodgy_cards)
print(checking_dodgy_cards.info())

      card_number expiry_date card_provider date_payment_confirmed
377          NULL        NULL          NULL                   NULL
827    VAB9DSB8ZM  NWS3P2W38H    NB71VBAHJE             GTC9KBWJO9
847          NULL        NULL          NULL                   NULL
884          NULL        NULL          NULL                   NULL
1443   MOZOT5Q95V  8YJ3TYH6Z5    WJVMUO4QX6             DJIXF1AFAZ
2418         NULL        NULL          NULL                   NULL
2489         NULL        NULL          NULL                   NULL
2830         NULL        NULL          NULL                   NULL
3694   K0084A9R99  ACT9K6ECRJ    JRPRLPIBZ2             H2PCQP4W50
4196         NULL        NULL          NULL                   NULL
4208   Y8ITI33X30  WDWMN9TU45    TS8A81WFXV             XTD27ANR5Q
4916   RNSCD8OCIM  VNLNMWPJII    JCQMU8FN85             7VGB4DA1WI
5686         NULL        NULL          NULL                   NULL
6024         NULL        NULL          NULL                   NULL
6653   MIK9G2EMM0  4FI5GTUVYG    5CJH7ABGDR             RLQYRRYHPU
7332   I4PWLWSIRJ  RF1ACW165R    DE488ORDXY             T008RE1ZR6
7493   OMZSBN2XG3  6JJKS7R0WA    OGJTXI6X1H             7FL8EU9GBF
7818   NB8JJ05D7R  XRPE6C4GS9    1M38DYQTZV             GD9PHJXQR4
10457  G0EF4TS8C8  5VN8HOLMVE    DLWF2HANZF             WCK463ZO1Z
11345  Z8855EXTJX  Q7VGWP7LH9    XGZBYBYGUW             OE3KONN2V6
11465  JQTLQAAQTD  ZBGGFGY4H0    UA07L7EILH             T995FX2C7W
11499  T23BTBBJDD  UMR9FIE22M    BU9U947ZGV             EVVMMB3QYV
12876        NULL        NULL          NULL                   NULL
13708        NULL        NULL          NULL                   NULL
14884  LSWT9DT4G4  2ANT8LW3I5    5MFWFBZRM9             UZGSD0AEBT
<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 377 to 14884
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             25 non-null     object
 1   expiry_date             25 non-null     object
 2   card_provider           25 non-null     object
 3   date_payment_confirmed  25 non-null     object
dtypes: object(4)
memory usage: 1000.0+ bytes
None

In [45]:
# pdf3 symbolises the removal of nulls and dodgy data
pdf3 = pdf2[pdf2['card_provider'].isin(get_card_names)]
print(pdf3['card_provider'].value_counts())

card_provider
VISA 16 digit                  2426
JCB 16 digit                   2403
VISA 13 digit                  1382
JCB 15 digit                   1363
VISA 19 digit                  1349
Diners Club / Carte Blanche    1312
American Express               1297
Maestro                        1281
Discover                       1260
Mastercard                     1211
Name: count, dtype: int64

In [46]:
print(pdf3['expiry_date'])

0        09/26
1        10/23
2        06/23
3        09/27
4        10/25
         ...
15304    12/28
15305    11/24
15306    04/24
15307    06/27
15308    02/30
Name: expiry_date, Length: 15284, dtype: object

In [47]:
#pdf3['expiry_date'] = pdf3['expiry_date'].apply(parse)
#pdf3['expiry_date'] = pd.to_datetime(pdf3['expiry_date'], errors='coerce', format = '%m/%Y')
#na_index = pdf3.index[pdf3['date_of_birth'].isna()].tolist() 
pdf3['expiry_date'].head(20)

0     09/26
1     10/23
2     06/23
3     09/27
4     10/25
5     11/23
6     07/27
7     02/29
8     02/24
9     07/23
10    10/28
11    11/27
12    11/31
13    10/29
14    01/29
15    01/26
16    02/32
17    10/26
18    08/28
19    09/32
Name: expiry_date, dtype: object

In [48]:
def custom_parse(date_string):
    month,year = date_string.split('/')
    return parse('01'+'/'+ date_string, ignoretz = True)

In [49]:
pdf3['expiry_date'][1]

'10/23'

In [50]:
pdf3.loc[:,'expiry_date'] = pdf3['expiry_date'].apply(custom_parse)
pdf3.loc[:,'expiry_date'] = pd.to_datetime(pdf3['expiry_date'])

In [51]:
print(pdf3['expiry_date'].head(20))
print(pdf3['expiry_date'].isnull().sum())

0     2026-01-09 00:00:00
1     2023-01-10 00:00:00
2     2023-01-06 00:00:00
3     2027-01-09 00:00:00
4     2025-01-10 00:00:00
5     2023-01-11 00:00:00
6     2027-01-07 00:00:00
7     2029-01-02 00:00:00
8     2024-01-02 00:00:00
9     2023-01-07 00:00:00
10    2028-01-10 00:00:00
11    2027-01-11 00:00:00
12    2031-01-11 00:00:00
13    2029-01-10 00:00:00
14    2029-01-01 00:00:00
15    2026-01-01 00:00:00
16    2032-01-02 00:00:00
17    2026-01-10 00:00:00
18    2028-01-08 00:00:00
19    2032-01-09 00:00:00
Name: expiry_date, dtype: object
0

In [52]:
#No expiry dates our of the ordinary
expired = pdf3[pdf3['expiry_date'] > pd.to_datetime('2050-01-01')]
print(expired)

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [53]:
pdf3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [54]:
# date of payment looks good too
pdf3['date_payment_confirmed'].head(5)
pdf3.loc[:,'date_payment_confirmed'] = pdf3['date_payment_confirmed'].apply(parse)
pdf3['date_payment_confirmed'].isnull().sum()
pdf3[pdf3['date_payment_confirmed'] > pd.to_datetime("2022-12-01")]

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [55]:
# Card number
pdf3['card_number'].head(20)
print(type(pdf3['card_number'][1]))

<class 'int'>

In [56]:
def check_alpha(string):
    return str(string).isalpha()

In [57]:
#This didnt pick up some card numbers had '?' 
pdf3['card_number'].apply(check_alpha).value_counts()

card_number
False    15284
Name: count, dtype: int64

In [58]:
pdf3.loc[:,'card_number'] = str(pdf3['card_number'])
print(pdf3['card_provider'].value_counts())
# diners club = 14
# AMEX = 15
# Maestro = 12 to 19. 50, 56-69, 67
# Discover = 16
# Mastercard = 16

card_provider
VISA 16 digit                  2426
JCB 16 digit                   2403
VISA 13 digit                  1382
JCB 15 digit                   1363
VISA 19 digit                  1349
Diners Club / Carte Blanche    1312
American Express               1297
Maestro                        1281
Discover                       1260
Mastercard                     1211
Name: count, dtype: int64

In [59]:
def get_length(column):
    if 'Diners' in column:
        return 14
    elif 'American Express' in column:
        return 15
    elif 'Discover' in column:
        return 16
    elif 'Mastercard' in column:
        return 16
    elif 'JCB' in column or 'VISA' in column:
        return int(''.join(filter(str.isdigit, column)))
    elif 'Maestro' in column:
        return list(range(12,20))
    elif 'Diners Club / Carte Blanche' in column:
        return 14
    else:
        return None

In [63]:
pdf3.loc[:,'expected_num_dig'] = pdf3['card_provider'].apply(get_length)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\3089059518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3.loc[:,'expected_num_dig'] = pdf3['card_provider'].apply(get_length)

In [61]:
#Run this code if you encounter any errors 
pdf3 = pdf2[pdf2['card_provider'].isin(get_card_names)]

In [64]:
pdf3[['card_number','card_provider','expected_num_dig']]

,card_number,card_provider,expected_num_dig
0,30060773296197,Diners Club / Carte Blanche,14
1,349624180933183,American Express,15
2,3529023891650490,JCB 16 digit,16
3,213142929492281,JCB 15 digit,15
4,502067329974,Maestro,"[12, 13, 14, 15, 16, 17, 18, 19]"
...,...,...,...
15304,180036921556789,JCB 15 digit,15
15305,180018030448512,JCB 15 digit,15
15306,3569953313547220,JCB 16 digit,16
15307,4444521712606810,VISA 16 digit,16
15308,372031786522735,American Express,15

In [65]:
pdf3.loc[:,'comparison'] = pdf3.apply(lambda row: len(str(row['card_number'])) == row['expected_num_dig'] if isinstance(row['expected_num_dig'], int) else len(str(row['card_number'])) in row['expected_num_dig'], axis=1)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\284436329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3.loc[:,'comparison'] = pdf3.apply(lambda row: len(str(row['card_number'])) == row['expected_num_dig'] if isinstance(row['expected_num_dig'], int) else len(str(row['card_number'])) in row['expected_num_dig'], axis=1)

In [66]:
pdf3['comparison'].value_counts()

comparison
True     15159
False      125
Name: count, dtype: int64

In [ ]:
import pandas as pd
review = pdf3[pdf3['comparison'] == False].head(100)
review.to_csv('review.csv')

In [ ]:
review = pdf3[pdf3['card_provider'] == 'Maestro']
print(review)

        card_number expiry_date card_provider date_payment_confirmed  \
4      502067329974       10/25       Maestro             1997-03-13
9      502049986008       07/23       Maestro             2011-04-30
35      60485138139       08/27       Maestro             2022-11-18
42      60457486839       07/27       Maestro             2006-12-31
49     676119752563       02/25       Maestro             1995-07-22
...             ...         ...           ...                    ...
15240  639064083889       04/32       Maestro             2013-10-03
15285  675968836147       10/24       Maestro             2009-02-26
15289  502072745834       11/26       Maestro             2003-08-25
15290  676167152013       11/28       Maestro             2015-05-22
15291  675910915411       05/28       Maestro             2002-08-29

                       expected_num_dig  comparison
4      [12, 13, 14, 15, 16, 17, 18, 19]        True
9      [12, 13, 14, 15, 16, 17, 18, 19]        True
35     [12, 13, 14, 15, 16, 17, 18, 19]       False
42     [12, 13, 14, 15, 16, 17, 18, 19]       False
49     [12, 13, 14, 15, 16, 17, 18, 19]        True
...                                 ...         ...
15240  [12, 13, 14, 15, 16, 17, 18, 19]        True
15285  [12, 13, 14, 15, 16, 17, 18, 19]        True
15289  [12, 13, 14, 15, 16, 17, 18, 19]        True
15290  [12, 13, 14, 15, 16, 17, 18, 19]        True
15291  [12, 13, 14, 15, 16, 17, 18, 19]        True

[1281 rows x 6 columns]

In [67]:
pdf3['card_number'] = pdf3['card_number'].astype(str)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_3656\3786287763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf3['card_number'] = pdf3['card_number'].astype(str)

In [68]:
pdf3[pdf3['card_number'].str.contains(r'\D')]

,card_number,expiry_date,card_provider,date_payment_confirmed,expected_num_dig,comparison
149,?4971858637664481,04/24,VISA 16 digit,2016-11-17,16,False
157,???3554954842403828,06/29,JCB 16 digit,1998-01-04,16,False
1777,??4654492346226715,03/23,VISA 16 digit,1996-08-09,16,False
3143,?3544855866042397,10/28,JCB 16 digit,2020-08-25,16,False
4299,??2720312980409662,11/28,Mastercard,1998-04-16,16,False
5289,??4982246481860,01/29,VISA 13 digit,2019-11-30,13,False
5518,?213174667750869,09/26,JCB 15 digit,2000-07-08,15,False
5843,????3505784569448924,02/28,JCB 16 digit,2012-10-12,16,False
6126,????3556268655280464,11/29,JCB 16 digit,1997-01-03,16,False
6382,???2604762576985106,10/29,Mastercard,2015-11-03,16,False
6712,???5451311230288361,06/24,Mastercard,2005-02-09,16,False
7880,???4252720361802860591,05/27,VISA 19 digit,2014-01-19,19,False
7913,?4217347542710,06/25,VISA 13 digit,2016-08-27,13,False
8167,?584541931351,09/31,Maestro,2014-02-22,"[12, 13, 14, 15, 16, 17, 18, 19]",True
8268,???4672685148732305,04/24,VISA 16 digit,2014-07-18,16,False
8480,??3535182016456604,04/26,JCB 16 digit,2005-02-25,16,False
8487,?4222069242355461965,12/23,VISA 19 digit,1999-01-25,19,False
10106,????3512756643215215,09/30,JCB 16 digit,2008-07-26,16,False
11111,?2314734659486501,06/25,Mastercard,2003-08-05,16,False
11190,????341935091733787,01/23,American Express,2001-01-28,15,False
11402,????3543745641013832,01/24,JCB 16 digit,2004-06-21,16,False
11688,??575421945446,08/31,Maestro,1998-12-20,"[12, 13, 14, 15, 16, 17, 18, 19]",True
11937,??630466795154,12/27,Maestro,2013-07-17,"[12, 13, 14, 15, 16, 17, 18, 19]",True
12830,????38922600092697,03/27,Diners Club / Carte Blanche,1996-07-02,14,False
14039,????344132437598598,01/24,American Express,1996-07-16,15,False
14346,???4814644393449676,08/28,VISA 16 digit,1996-08-02,16,False

In [ ]:
pdf3.loc[pdf3['card_number'].str.contains(r'\D'), 'card_number'] = None

In [ ]:
print(subset_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 149 to 14346
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             26 non-null     object
 1   expiry_date             26 non-null     object
 2   card_provider           26 non-null     object
 3   date_payment_confirmed  26 non-null     object
 4   expected_num_dig        26 non-null     object
 5   comparison              26 non-null     bool
dtypes: bool(1), object(5)
memory usage: 1.2+ KB
None

In [ ]:
pdf3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15308
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
 4   expected_num_dig        15284 non-null  object
 5   comparison              15284 non-null  bool
dtypes: bool(1), object(5)
memory usage: 731.4+ KB

In [ ]:
subset_df1 = pdf3[pdf3['card_number'].str.contains(r'\n')]

In [ ]:
print(subset_df1)

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed, expected_num_dig, comparison]
Index: []

In [ ]:
pdf3['card_number'].isnull().sum()

0

In [ ]:
zeroone = us[us['phone_number'].str.contains(r'001-',regex=True)]
print(zeroone )

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
us['phone_number'] = us['phone_number'].str.extract(r'(\d{3})[. -]?(\d{3})[. -]?(\d{4})', expand=False).apply(lambda x: ' '.join(filter(lambda y: isinstance(y, str), x)), axis=1)

C:\Users\Janoh\AppData\Local\Temp\ipykernel_12764\3975869603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us['phone_number'] = us['phone_number'].str.extract(r'(\d{3})[. -]?(\d{3})[. -]?(\d{4})', expand=False).apply(lambda x: ' '.join(filter(lambda y: isinstance(y, str), x)), axis=1)

In [ ]:
us_no_number = us[us['phone_number'].str.len()<10]
us_no_number.reset_index(drop = True, inplace = True)
print(us_no_number.index)
print(len(us_no_number))

RangeIndex(start=0, stop=247, step=1)
247

In [ ]:
us.iloc[us_no_number.index]

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
5,David,Torres,1949-08-12,Yang-Stewart,mwilliams@nichols.org,"49226 Edwards Mountains\nNorth Sarah, DE 69608",United States,US,277 664 6389,2002-01-21,53d21f46-1fa4-452f-a023-26aee2aae4d6
9,Emily,Jones,1992-10-09,Serrano-Leblanc,toni24@carlson.com,"012 Andrea Circle Suite 129\nJosephmouth, AS 2...",United States,US,655 421 5915,1998-05-15,caffe463-4918-4f45-a37d-856dc0f15884
16,Sierra,Spencer,1988-11-02,"Watson, Davis and Cooper",justin43@arnold.info,"05559 Vincent Parkway\nSarahstad, ND 91029",United States,US,572 068 8397,2007-03-20,7c8dc654-3994-40b1-a4a2-e55dc7081fe0
27,Bryan,Nielsen,1979-07-29,Drake-Clark,julie41@jennings.com,"0146 Mathis Extension\nWest Marymouth, WY 18605",United States,US,,2001-09-23,e4aae45c-d605-4457-860d-8a460a0a1d69
35,Melissa,Garcia,1946-06-30,"Nelson, Williams and Martinez",alvarezstacy@green-stokes.com,"9288 Patrick Inlet\nJamesfort, CO 48309",United States,US,723 654 4681,2007-01-05,ee0c5f80-2a18-42df-ad88-e898de71dd50
...,...,...,...,...,...,...,...,...,...,...,...
3021,Elizabeth,Patel,1953-01-01,King-Singleton,kmoss@cantrell-best.com,"2465 Ebony View Apt. 181\nCalebport, KY 89888",United States,US,195 454 9244,1994-03-02,7091d21d-a072-4850-b981-db2f1cab144e
3037,Pamela,Grant,1959-06-18,Butler and Sons,daniel55@tucker.net,"4287 Edwards Court Apt. 128\nNew Jennifer, VT ...",United States,US,397 646 1332,2008-09-27,5fe20772-3bc0-4e7b-b790-37c7bbe215f8
3048,Stephanie,Petty,1986-11-15,Butler-Beck,olsenjames@smith.com,"8705 Gray Fort Suite 725\nSherrytown, ID 62541",United States,US,,1997-10-21,2f6aa562-cd35-4f2a-9e46-5dc2326f75b5
3060,Karen,Walters,1995-10-16,"Gilmore, Carrillo and Martin",daniel33@ayala.com,"0908 Roberts Spring Apt. 063\nLake Nicholas, A...",United States,US,481 132 4184,2001-06-24,57e9b695-53b8-431e-a7fc-525117aa45ad
3062,Cynthia,Collier,1974-04-26,Graves Ltd,xwilkerson@robinson.info,"368 Rodriguez Walk Suite 981\nGlennland, PA 46393",United States,US,183 241 8949,1999-09-11,52002e9c-2bdb-4010-a327-77d3591d1297

In [ ]:
name_mask = df[df['first_name'].str.len() >11]

In [ ]:
print(name_mask)
print(name_mask.info())

          first_name  last_name date_of_birth                   company  \
53     Frank-Michael     Weimer    1944-05-07       Lorch GmbH & Co. KG
239     Heinz Dieter     Häring    1999-07-15      Wilmsen Wohlgemut AG
320     Anne-Kathrin    Rosenow    1973-03-07       Löwer GmbH & Co. KG
344    Peter-Michael    Heintze    1960-03-01                   Hartung
366     Klaus-Dieter       Seip    1965-11-09  Mies Stiftung & Co. KGaA
...              ...        ...           ...                       ...
15048   Hans-Michael       Rose    1957-01-10            van der Dussen
15096   Horst-Günter    Zorbach    1980-03-01                   Jungfer
15161   Klaus-Dieter  Kostolzin    1970-03-05          Söding Bloch GbR
15187  Peter-Michael     Schaaf    2005-06-07        Wirth Jäntsch GmbH
15286   Konstantinos     Thanel    1954-08-05       Fritsch Ehlert GmbH

                          email_address  \
53                   apoelitz@doehn.com
239          berndeigenwillig@haase.com
320          wvan-der-dussen@hellwig.de
344                      tbeer@krebs.de
366              ronnyalbers@roemer.com
...                                 ...
15048                urban54@killer.com
15096       katerinaweller@gumprich.com
15161           aschwital@gehringer.com
15187  auch-schlauchinthekla@bluemel.de
15286            rpruschke@gotthard.com

                                       address  country country_code  \
53                Benthinweg 1/1\n16663 Berlin  Germany           DE
239    Zeljko-Pärtzelt-Weg 330\n20870 Cuxhaven  Germany           DE
320       Susana-Hettner-Allee 1\n19641 Aurich  Germany           DE
344    Halina-Kramer-Allee 02\n24708 Melsungen  Germany           DE
366              Peukertallee 216\n16821 Guben  Germany           DE
...                                        ...      ...          ...
15048        Schuchhardtgasse 81\n34270 Luckau  Germany           DE
15096         Truppplatz 58\n24432 Sigmaringen  Germany           DE
15161   Herta-Linke-Gasse 3\n08952 Neustrelitz  Germany           DE
15187          Mosemannring 5/5\n83340 Sebnitz  Germany           DE
15286       Steffi-Rose-Platz 16\n12365 Apolda  Germany           DE

              phone_number  join_date                             user_uuid
53        +49(0)4666 26686 2009-06-02  ad4e8223-f93a-4c3a-b592-eba785907575
239      +49(0)0094 284779 2019-10-20  f5bd1ab0-289f-4d22-b624-0bcce7632b68
320       +49(0) 132060643 2014-02-28  e5e88bfc-5485-4c54-a717-313fb416e46c
344    +49 (0) 4302 505601 2015-04-25  24341f23-7442-4ad0-b96e-8867e7bb9f35
366          (07407) 13312 2006-09-29  da9f4a9f-eeb9-4cb9-8d28-481e60ee94f2
...                    ...        ...                                   ...
15048           0566049530 2010-04-12  cb93646c-1e65-4400-b5fc-274d46812f02
15096          04030 44680 1994-09-10  227b5f5a-b705-470e-ab07-6614dd1969f9
15161       (08109) 406682 2006-06-05  3c6abb94-8567-4974-9987-f1156d3f652d
15187  +49 (0) 4709 041689 1993-09-01  6dbce501-6b4b-4b38-a586-3f1a7502b1e4
15286       (07856) 050049 2007-07-21  6f16e0ce-9b07-4479-a151-7efdd35408aa

[137 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 53 to 15286
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     137 non-null    object
 1   last_name      137 non-null    object
 2   date_of_birth  137 non-null    datetime64[ns]
 3   company        137 non-null    object
 4   email_address  137 non-null    object
 5   address        137 non-null    object
 6   country        137 non-null    object
 7   country_code   137 non-null    object
 8   phone_number   137 non-null    object
 9   join_date      137 non-null    datetime64[ns]
 10  user_uuid      137 non-null    object
dtypes: datetime64[ns](2), object(9)
memory usage: 12.8+ KB
None

In [ ]:
result_df = df[df['first_name'].str.contains(r'\d', na=False)]